<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active">Serviços </li>
</ol>
<div align="center" ng-controller="ServicesIndexController" >

  <script>
  function myFunction() {
      location.reload();
  }
  </script>
  <script>
    function closeWin() {
      myWindow.close();
    }
  </script>

  <img src="/assets/layout/logo_guia(1).png" alt="Guia de Serviços logomarca" title="Guia de Serviços logomarca"  style="width: 25%; margin-bottom: 0%;" align="center">
  <h1 align="center" style="color:white; font-weight: bold; position: relative; top:1%;font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;" class="title_hight">Os serviços do Governo de Alagoas catalogados num só lugar</h1>
  
  <div style="position: relative;top: 10%">
    <h3 class="services_title" style="color: white; font-weight: bold;">{{ tam.length }} Serviços   disponíveis</h3>
  </div>

  <br><br><br><br><br>
    <div id="demo" class="collapse col-md-12" style="background-color: rgba(0, 0, 0, 0.52); border-radius: 10px;">
     <button onclick="myFunction()" class="btn btn-danger" style="position: relative;
left: -12%;top: 40px;" >Limpar Filtros</button>  
     <div class="col-sm-4">
        <div class="form-group" style="position: relative;left: 41%;top: 12px;">
          <label style="color: white;">Serviços por órgão</label>
          <select ng-model="organ_id" class="form-control" style="width: 400px;">
            <option value="">Filtrar por orgão</option>
            <% @organs.each do |organ| %>
              <option value="<%= organ.id %>"><%= organ.name %></option>
            <% end %>
          </select>
        </div>
      </div>
      

      <div class="col-sm-12 col-md-12">
      <label style="color: white; position: relative; top:10px">Mostrar por ordem </label>  
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <form>
        <div class="col-sm-4">
          <div class="material-switch">
            <input id="someSwitchOptionDefault"  type="checkbox" name="ordem" ng-model="checkedIN" id="1" style="position: relative; top: 17px;" />
            <label for="someSwitchOptionDefault" class="label-primary"></label>
          </div>
        </div>
        <div class="col-sm-4 pull-right">
          <div class="material-switch">
            <input type="checkbox" name="ordem" id='2' ng-model="view" style="position: relative;right: 85%;top: 15px;" />
            <label for='2' class="label-primary"></label>
          </div>
        </div>
        <div class="col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6" ng-if='checkedIN'>
            <div class="clearfix"></div>
            <span class="label label-primary ng-binding" style="position: relative;left: 12%;top: -10px;">Crescente</span>
          </div>
          <div class="col-sm-6 col-md-6" ng-if='!checkedIN'>
            
            <span class="label label-primary ng-binding" style="position: relative;top: -10px;">Decrescente</span>
          </div>
          <div class="col-sm-6 col-md-6" ng-if='view'>
            
            <span class="label label-primary ng-binding">Novos</span>
          </div>
          <div class="col-sm-6 col-md-6" ng-if='!view'>
            <div class="clearfix"></div>
            <span class="label label-primary ng-binding" style="position: relative;left: -8%;top: -10px;">Últimas atualizações</span>
          </div>
        </div>
      </form>
    </div>

    <div class="clearfix"></div>
    <div class="text-center" name="ordena" id='2' ng-model="view1" ng-init="view1='true'">
      <nav aria-label="Page navigation">
        <ul class="pagination" >
          <li ng-repeat="letter in alphabet" ng-click="byLetter(letter, organ_id)">
            <a rel="next" href="" id='a1'>{{ letter }}</a>
          </li>
        </ul>
      </nav>
    </div>        
  </div>

<div class="row">  
  <div class="col-md-9 col-sm-9 col-xs-12 col-lg-9">
    <div class="container" >
      <div class="col-md-8 col-sm-8 col-xs-12 col-sm-offset-2">
      <div id="imaginary_container" style="width: 115%; position: relative;"> 
        <div class="input-group stylish-input-group" style=" margin-top: 1%; z-index: 0" align="center">
          <input class="form-control input-lg" id="inputlg" type="text" placeholder="Busque aqui o serviço que você precisa" ng-model="q" >
            <span class="input-group-btn">
              <button class="btn btn-lg" type="button" style="color: rgb(83, 114, 219);">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button class="btn btn-lg" type="button" style="color: rgb(83, 114, 219);" data-toggle="collapse" data-target="#demo">
                  <span class="glyphicon glyphicon-filter"></span>
                </button>    
            </span>
          </div>
        </div>

        <div ng-if="q!=null && q.length > 0">  
        <div style="background-color: rgba(9, 40, 126, 0.78); border-radius: 8px; box-sizing: border-box;">  
          
            <h2 style="color: white;">Foram encontrados {{services.length}} registros de {{q}}</h2>
          
        </div>
      </div>

      </div>
    </div>

    <div class="row " >
      <br>
      
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 organ_size_align" align="center" cg-busy="{promise: servicesPromise, message: 'Carregando..'}">
        
          <div ng-if="(checkedIN==none && view==none)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : 'date'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div  ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                  
                </div>
              </div>

              
            </div>
          </div>

          <div ng-if="(checkedIN==true && view==none)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '+name'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>


          <div ng-if="(checkedIN==false && view==none)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '-name'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>


          <div ng-if="(checkedIN==none && view==true)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '+date'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="(checkedIN==false && view==true)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '+date'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>

          <div ng-if="(checkedIN==none && view==false)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '-date'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>   
                </div>
              </div>
            </div>
           </div> 


           <div ng-if="(checkedIN==false && view==false)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '-date'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>   
                </div>
              </div>
            </div>
           </div> 



          <div ng-if="(checkedIN==true && view==false)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '+name'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div ng-if="(checkedIN==true && view==true)" class="col-md-4 col-sm-4 col-lg-4 col-xs-10 " ng-repeat="service in services | orderBy : '+name'" >
            <br>
            <br>
            <div class="service-item" style="width: 100%;height: 250px; max-height: 250px;">
              <a href="{{ service.url }}">
                <h4 style="text-align: justify-all;">{{ service.name }}</h4>
              </a>
            
              <a class="btn btn-default btn-sm" href="{{ service.url }}">
                Ver mais
              </a>
            
              <br>
            
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>