<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item"><a href="/guia-de-servicos">Serviços</a></li>
  <li class="breadcrumb-item active"><%= @service.name  %></li>
</ol>

<div class="col-md-10 col-lg-10 col-xs-12 col-sm-12" ng-controller="ServicesIndexController" style="position: relative;left: 7%; background-color: rgba(7, 10, 20, 0.7); margin-bottom: 7%;">
	<div class="col-md-10 service-show col-sm-10 col-xs-10 col-lg-12" align="center">
		<h2 class="style_head" style="color: white;"><%= @service.name %></h2>	
		<div class="row" >
			<div class="col-md-6" style="position: relative; left:10%;">
				<div class="list-group" >
			    <a href="#o-que-e" class="list-group-item ">O que é?</a>
			    <a href="#quem-pode-realizar" class="list-group-item">Quem pode realizar?</a>
			    <a href="#tempo-estimado-para-realizar-esse-servico" class="list-group-item">Tempo estimado para realizar esse serviço</a>
			    <a href="#etapas" class="list-group-item">Etapas para a realização deste serviço</a>
			    <a href="#unidades" class="list-group-item">Onde é realizado o serviço</a>
			    <a href="#outras-informacoes" class="list-group-item">Outras Informações</a>
			  </div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 col-xs-10 text-right" >
	      <img src="<%= @service.organ.attachment %>" title="Guia de Serviços <%= @service.organ.name %>" alt="Guia de Serviços <%= @service.organ.name %>" class="img-thumbnail">
	    </div>
		</div>

		<div class="col-md-10 col-lg-10" style="color: white; left: 10%;">
			<div id="o-que-e">
		    <h3 style="float: left;">
		      <i class="fa fa-question-circle" aria-hidden="true" style="text-transform: capitalize; "></i> O que é?
		    </h3>
	      <h5 class="col-md-12 col-sm-12 col-lg-12 col-xs-12 col-xl-12" style="color: white; float: left;"><div style="text-align: justify;"><%= @service.description.html_safe %></div>
	      </h5>
		  </div>
	  </div>

	  <div class="col-md-10 col-lg-10 col-" style="color: white; left: 10%;">
	  	<% if !@service[:applicants].blank? && @service[:applicants].size > 0 %>
		    <div id="quem-pode-realizar">
		      <h3 style="float: left;">
		        <i class="fa fa-users" aria-hidden="true"></i> Quem pode realizar?
		      </h3>
		      <% @service[:applicants].each do |applicant| %>
		        <div class="col-md-12" style="text-align: justify;"><p style="color: white;"><%= applicant[:type] %></p></div>
		      <% end %>
		    </div>
  		<% end %>
	  </div>

	  <div class="col-md-10 col-lg-10" style="color: white; left: 10%;">
	  	<% if !@service[:estimated_time][:max].blank? %>
		    
		    <div id="tempo-estimado-para-realizar-esse-servico" style="float: left;">
		      <h3 >
		        <i class="fa fa-clock-o" aria-hidden="true"></i> Tempo estimado para realizar esse serviço
		      </h3>
		      <div class="col-md-10" style="text-align: justify;"><p style="color: white;"><%= (@service[:estimated_time][:type] == 'until') ? 'Em até' : 'Entre' %> <%= @service[:estimated_time][:max] %> <%= @service[:estimated_time][:unit] %></p></div>
		    </div>
  		<% end %>
	  </div>

	  <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 col-xl-10" style="color: white; left: 10%;" >
	  	<% if @service[:steps] %>
	  		<div id="etapas" style="float: left;" >
	  			<h3 style="float: left;">
	        	<i class="fa fa-list-ol" aria-hidden="true"></i> Etapas para a realização deste serviço
	      	</h3>
	      	<ul class="step-items" style="color: white;">
	      		<% @service[:steps].each_with_index do |step, index| %>
	      			<div class="col-md-10" style="text-align: justify;">
	      				<li >
	      					<span class="circle" style="float: left;"><%= index + 1 %></span>
	      					<h4 style="font-weight: bold;"><%= step[:title] %></h4>
	      					<div class="step-description">
	      						<p style="text-align: left;"><%= simple_format(step[:description], class: 'description') %></p>
	      						<% if !step[:documents].blank? %>
			                <p style="font-weight: bold;color: white;">
			                Documentos necessários:</p>
			                <ul>
			                  <% step[:documents].each do |document| %>
			                    <li style="text-align: left;"><%= document[:name] %></li>
			                  <% end %>
			                </ul>
			              <% end %>
			              <% if !step[:providing_channels].blank? %>
			              	<p style="font-weight: bold;">Canais de atendimento:</p>
			              	<ul>
			              		<% step[:providing_channels].each do |channel| %>
			              			<% if channel[:type] == "web" || channel[:type] == "aplicativo-movel" %>
			                      <li style="text-align: left;">
			                        <b><%= channel[:type] %></b>: <a href="<%= channel[:description] %>" target="_blank"><%= channel[:description] %></a>
			                      </li>
			                    <% end %>
			                    <% if channel[:type] != "web" && channel[:type] != "aplicativo-movel" %>
			                      <li style="text-align: left;">
			                        <b><%= channel[:type] %></b>: <a><%= channel[:description] %></a>
			                      </li>
			                    <% end %>
			              		<%end%>
			              		<% if !step[:cost].blank? && !step[:cost][:value].blank? %>
					                <p><b>Custo:</b></p>
					                <p><%= step[:cost][:coin] %> <%= step[:cost][:value] %></p>
					              <% end %>
			              	</ul>
			              <%end%>
	      					</div>
	      				</li>
	      			</div>
	      		<%end%>
	      	</ul>
	  		</div>
	  	<%end%>

	  	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12">
		  	<div id="unidades" style="color: white;">
			  	<h3 style="float: left;">
		      	<i class="fa fa-home" aria-hidden="true"></i> Onde é realizado o serviço
		    	</h3>
		    	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12">
		    	<% unless @service.units.blank? %>
		        <% @service_units.each do |unit| %>
					   		<div class="col-md-4 col-sm-4 col-lg-4 col-xl-6" style="float: left;">
					   			<div class="panel-group" style="width: 100%;height: 125px; max-height: 125px;">
					   			<div class="panel panel-info">
					   			<div class="panel-heading"><a href="<%= unit.url %>" style="text-decoration: none;"><%= unit.name %></a></div>
					   			<div class="panel-body"><%= unit.services.length %> Serviços</div>	
					   			</div>
					   			</div>
					   		</div>
				   	<%end%>
				  <%end%>
				 	</div>
	    	</div>
	    </div>
	    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12" >
	    	<div id="outras-informacoes">
		  		<h3 style="float: left;">
	        	<i class="fa fa-info-circle" aria-hidden="true"></i> Outras Informações
	      	</h3>
	  		</div>
	    </div>
	    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12"style="text-align: justify;">
		  	<h5 style="color: white"><%= @service[:other_informations].html_safe %></h5>
		  	<% if @service[:free] == false %>
		      <p style="color: white">Este serviço é gratuito para o solicitante </p>
		    <% end %>
		    <% if @service[:free] == true %>
	        <p style="color: white; font-weight: bold;">Este serviço tem custos para o solicitante </p>
	        <% @service.steps.each do |type_payment| %>
	        <div class="table-responsive col-xl-12">
	          <table class="table">
	          <%if type_payment[:cost][:type] != nil%>
	            <tr>
	              <td class="field-label col-xs-3 active">
	                <label style="color: black">Tipo de Pagamento</label>
	              </td>     
	            </tr>
	            <tbody>
	                <th scope="row" style="color: white"></th>
	                  <td style="color: white">Tipo de documento <%=type_payment[:cost][:type]%></td>
	                  <td style="color: white">Moeda <%=type_payment[:cost][:coin]%></td>
	                  <td style="color: white">Valor <%=type_payment[:cost][:value]%></td>
	                 <%end%>
	              </tr>
	            </tbody>
	          </table>
	          </div>
	        <%end%>
	      <% end %>
	      </div>
				</div>
	  	</div>
	  </div>
	  
		<div class="col-md-12 col-lg-12 col-xs-12" style="margin-bottom: 25%;">
		   <hr>
	    <p style="color: white">Este é um serviço d(o)a <a href="/orgao/<%= @service.organ.permalink %>"><%= @service.organ.name %></a>. Em caso de dúvidas, reclamações ou sugestões favor contactá-lo, use o(s) telefone(s) <%= @service.organ.phones%>.</p>
	  	<br>
	    
	  </div>

	</div>
</div>