
<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 col-xl-12" ng-init="abble = true">

<form name="unitForm" novalidate>
	<% if !current_user.admin? %>
		<div class="form-group">
			<label class="control-label" for="">Orgão<span>*</span></label>
			<input class="form-control" type="text" value="<%= current_user.organ.name %>" disabled>
		</div>
	<% end %>
	
	<% if current_user.admin? %>
		<div class="form-group">
			<label class="control-label" for="">Orgão<span>*</span></label>
			<select class="form-control" ng-model="unit.organ_id">
				<option value="">Selecione o orgão</option>
				<option value="{{ organ.id }}" ng-repeat="organ in organs">{{ organ.name }}</option>
			</select>
		</div>
	<% end %>

	<div class="form-group">
		<label class="control-label" for="">Nome<span>*</span></label>
		<input class="form-control" type="text" ng-model="unit.name" required>
	</div>

	<div class="form-group">
		<label class="control-label">Município</label>
		<select class="form-control" ng-model="unit.county" required>
			<option value="">Selecione o município</option>
			<option ng-repeat="county in county_places" value="{{county}}">{{county}}</option>
		</select>
	</div>

	<div class="form-group">
			<script id="searchbox.tpl.html" type="text/ng-template">
		<div class="col-md-6 col-sm-6 col-lg-6">
			<input class="form-control" id="editado" placeholder="Procurar por endereço" type="text" ng-model="unit.address" style="width: 300px;" required>
		    <!-- <input type="text" placeholder="Procure" style="width: 300px;" class="form-control" ng-model="organ.address" required> -->
		</div>
	</script>
	</div>

	Endereço Atual: {{unit.address}} 
	<div ng-if="unit.address ==Null" class="alert alert-danger" role="alert">
  		Não esqueça de preencher o <b>ENDEREÇO</b>, o campo está dentro do mapa <strong>LOGO A BAIXO</strong> em <strong>"Procurar por endereço"</strong>
		</div>
		<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="map">
		  <ui-gmap-search-box template="searchbox.template" events="searchbox.events"  position='searchbox.position'></ui-gmap-search-box>
		   
	   <ui-gmap-marker doCluster="false" fit="'true'" coords="marker.coordinates" idkey="123" events="marker" options="{ draggable: true}">
	      </ui-gmap-marker>
	  
	    <ui-gmap-drag-zoom keyboardkey="'ctrl'"></ui-gmap-drag-zoom>
		</ui-gmap-google-map>
		<hr>
		<div ng-if="unit.address ==Null" class="alert alert-danger" role="alert">
  		O botão de salvar só aparecerá(Ficará habilitado) depois de preencher os campos obrigatórios:<b> Nome, Orgão, Municipio e Endereço(encontra-se no mapa a cima)</b>.
		</div>

		<div class="form-group">
			<label class="control-label" for="">Telefones</label>
			<input class="form-control" type="text" ng-model="unit.phones">
		</div>

		<div class="form-group">
			<label class="control-label" for="">E-mail</label>
			<input class="form-control" type="text" ng-model="unit.email">
		</div>

		<div class="row">
			<div class="col-md-12">
				<h4>Horários</h4>
			</div>
			<div class="clearfix" ng-repeat="schedule in unit.schedules">
				<div class="col-md-2">
					<div class="form-group">
						<select class="form-control" ng-model="schedule.day">
							<option value="">Selecione o dia</option>
							<option value="sunday">Domingo</option>
							<option value="monday">Segunda</option>
							<option value="tuesday">Terça</option>
							<option value="wednesday">Quarta</option>
							<option value="thursday">Quinta</option>
							<option value="friday">Sexta</option>
							<option value="saturday">Sábado</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Início" ng-model="schedule.start">	
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Fim" ng-model="schedule.end">	
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<button class="btn btn-danger" ng-click="removeSchedule(schedule)"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>

		</div>

		<button class="btn btn-success" ng-click="addSchedule()"><i class="fa fa-plus"></i></button>
		<div  class="alert alert-danger" role="alert">
  			Preencha o campo de <b>obserações para os Horários de atendimenteo</b> para deixar claro se esta unidade possui algum expediente que necessite ser observado, por exemplo: Se esta unidade não funciona no horário de almoço; se esta unidade funciona algum dia da semana além ou aquém dos horários normais dos outros dias, ou qualquer outra observação.</b>
  		
			</div>
		<div class="form-group">
				<label class="control-label" for="">Observações para os horários de atendimento</label>
				<textarea class="form-control" ng-model="unit.note_schedules" rows="8" ckeditor ></textarea>
			</div>
		<hr>

		<% if current_user.profile.name != 'Mantenedor' %>
		<div class="form-group">
			<div  class="alert alert-danger" role="alert">
	  			Este campo, <b>ativo</b> se marcado, permitirá que o sistema Guia de Serviços mostre esta unidade de atendimento nas listagens para os públicos em geral. Ao marcar este campo o <b>responsável <%= current_user.name %></b> assume que <b>todos os campos estão preenchidos corretamente</b>.
	  	
			</div>
			<label class="control-label" for="">Ativo<span>*</span></label>
			<input type="checkbox" ng-model="unit.active">
		</div>
		<%end%>
		<hr>
		<script>
			var date = new Date();

			var day = date.getDate();
			var month = date.getMonth() + 1;
			var year = date.getFullYear();
			var hour = date.getHours();
			var minute = date.getMinutes();
			if (month < 10) month = "0" + month;
			if (day < 10) day = "0" + day;

			var today = day + "-" + month + "-" + year + " " +" "+" "+" "+ hour+":"+minute;


			document.getElementById('date').value = today;
		</script>
		<div ng-if="(unit.address ==Null) || (unit.name == Null) || (unit.county == Null)">
			<div  class="alert alert-danger" role="alert">
  			O botão de salvar só aparecerá(Ficará habilitado) depois de preencher os campos obrigatórios:<b> Nome, Orgão, Municipio e Endereço(encontra-se no mapa a cima)</b>.
  		<button class="btn btn-success pull-right" disabled>Salvar</button>
			</div>
		</div>
	<div ng-if="(unit.address !=Null) && (unit.name !=Null) && (unit.county !=Null)">
		<button class="btn btn-success pull-right" ng-click="save()" ng-disabled="unitForm.$invalid">Salvar</button>
	</div>
</form>
</div>