<h3>Unidades de Atendimento</h3>
<hr>
<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>
<a class="btn btn-primary" href="<%= new_admin_unit_path %>">Adicionar novo</a>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Orgão</th>
      <th>Nome</th>
      <th>Permalink</th>
      <th></th>
      <% if can_view Admin::ServicesController, 'edit' %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @admin_units.each do |admin_unit|%>
      <tr>
        <td><%= admin_unit.organ.acronym if admin_unit.organ %></td>
        <td><%= admin_unit.name %></td>
        <td><%= admin_unit.permalink %></td>
        <td><span class="label label-<%= (admin_unit.active) ? 'success' : 'danger' %>">Ativo</td>
        <% if can_view Admin::UnitsController, 'edit' %>
          <td><a href="<%= edit_admin_unit_path(admin_unit) %>">Editar</a></td>
        <% end %>
        <% if can_view Admin::UnitsController, 'destroy' %>
          <td><%= link_to 'Remover', admin_unit, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
