<div class="col-md-12 col-sm-12 ">
  <script type="text/javascript">  
    jQuery(document).ready(function($) {
      var requiredCheckboxes = $(':checkbox[required]');
      requiredCheckboxes.on('change', function(e) {
        var checkboxGroup = requiredCheckboxes.filter('[name="' + $(this).attr('name') + '"]');
        var isChecked = checkboxGroup.is(':checked');
        checkboxGroup.prop('required', !isChecked);
      });
    });
  </script>

  <style type="text/css">
    .table {
    border: none;
}

.table-definition thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

.table td {
    vertical-align: middle;
}

.page-item > * {
    border: none;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none; 
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #f1f1f1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #84c7c1;
    background-image: none;
    box-shadow: none !important; 
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: #84c7c1;
      left: 15px; 
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
  } 
  </style>

  <form name="serviceForm" novalidate>
    <h3 class="form-section">Descrição do Serviço</h3>

    <% if !current_user.admin? %>
    <%if current_user.profile.name != "Mantenedor"%>
      <div  class="alert alert-danger" role="alert">Este formulário registra os campos que detalham o serviço como é, os campos que vem acompanhados com * são obrigatórios. É aconselhado que preecham todos os campos listados abaixo, os obrigatórios e os não-obrigatórios, cada campo possui uma caixa de alerta para lhe avisar sobre o campo. Busque preencher com calma para a informação ficar clara o suficiente na visão do publico. Ao final deste formulário o campo <b>Ativo</b> serve como uma chave para puvblicar este serviço para todos, marque-o quando estiver com a certeza que as informações são corretas e estão claras.</div>
    <%end%>
    <%if current_user.profile.name == "Mantenedor"%>
      <div  class="alert alert-danger" role="alert">Este formulário registra os campos que detalham o serviço como é, os campos que vem acompanhados com * são obrigatórios. É aconselhado que preecham todos os campos listados abaixo, os obrigatórios e os não-obrigatórios, cada campo possui uma caixa de alerta para lhe avisar sobre o campo. Busque preencher com calma para a informação ficar clara o suficiente na visão do publico. Ao final deste formulário certifique-se que os campos estão todos preenchidos corretamente, o botão salvar irá aparecer somente se os campos obrigatórios foram preenchidos.</div>
    <%end%>
    <div id="o-que-e">
      <div class="form-group">
        <label class="control-label" for="">Orgão<span>*</span></label>
        <input class="form-control" value="<%= current_user.organ.name %>" type="text" disabled>
      </div>
    <div id="o-que-e">
    <% end %>

      <% if current_user.admin? %>
      <div id="o-que-e">
        <div class="form-group" >
        <div  class="alert alert-danger" role="alert">Este formulário registra os campos que detalham o serviço como é, os campos que vem acompanhados com * são obrigatórios. É aconselhado que preecham todos os campos listados abaixo, os obrigatórios e os não-obrigatórios, cada campo possui uma caixa de alerta para lhe avisar sobre o campo. Busque preencher com calma para a informação ficar clara o suficiente na visão do publico. Ao final deste formulário o campo <b>Ativo</b> serve como uma chave para puvblicar este serviço para todos, marque-o quando estiver com a certeza que as informações são corretas e estão claras.</div>
          <label class="control-label" for="">Orgão<span>*</span></label>
          <select class="form-control" ng-model="service.organ_id" required>
            <option value="">Selecione o orgão</option>
            <option value="{{ organ.id }}" ng-repeat="organ in organs" required >{{ organ.name }}</option>
          </select>
        </div>
      </div>
    <% end %>
    <div  class="alert alert-danger" role="alert">Abaixo clique no botão <i>Clique aqui para exibir as Unidades de Atendimento *</i>, aparecerão as listas das <b>Unidades de Atendimento</b> que você poderá selecionar onde este serviço está a disposição da população. </div>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Clique aqui para exibir as Unidades de Atendimento<span>*</span></button>
    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Lista das unidades</h4>
        </div>
        <main class="container pt-5">
          <div class="card mb-5">
            <div class="card-header">Selecionar</div>
              <div class="card-block p-0">
                <table class="table table-bordered table-sm m-0">
                  <thead class="">
                    <tr>
                      <th>#</th>
                      <th>Nome</th>                                  
                    </tr>
                  </thead>
                  <tbody ng-repeat="unit in units">
                    <tr>
                      <td>
                         <input class="custom-control-indicator" type="checkbox" checklist-model="service.unit_ids" checklist-value="unit.id" name="unidade" >                    
                      </td>
                      <td> {{ unit.name }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </main>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
     
    </div>
  </div>
  <!--Fim modal-->
  <div class="form-group">
  <br>
  <div  class="alert alert-danger" role="alert">O campo <b>Nome</b> é um dos campos obrigatórios, por favor preencha este campo assim como realmente é a nomenclatura deste serviço.</div>
    <label class="control-label" for="">Nome<span>*</span></label>
    <input class="form-control" type="text" ng-model="service.name" required>
  </div>
  <div class="form-group">
    <label class="control-label" for="">Sigla</label>
    <input class="form-control" type="text" ng-model="service.acronym">
  </div>
  <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#ModalNomesPopulares">Nomes Populares</button> 
    <!-- Modal -->
  <div class="modal fade" id="ModalNomesPopulares" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group" ng-repeat="popular_name in service.popular_names">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nome Popular {{ $index + 1 }}" ng-model="popular_name.name">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="removePopularName(popular_name)"><i class="fa fa-trash"></i></button>
              </span>
            </div>
          </div>
          <a class="btn btn-primary btn-sm" href="" ng-click="addPopularName()"><i class="fa fa-plus"></i> Nome Popular</a>
        <hr>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>
  <!--Fim Modal-->  
  <div class="form-group">
  <br>
    <div  class="alert alert-danger" role="alert">O campo <b>Descrição (O que é)</b> tem a finalidade de mostrar a finalidade deste serviço para o público alvo, é um campo de extrema importância e deve ser preenchido com cautela. Por favor descrever este campo com maiores detalhes e com clareza para que o público alvo compreenda o propósito deste serviço.</div>
    <label class="control-label" for="">Descrição (O que é)<span>*</span></label>
    <textarea class="form-control" ng-model="service.description" rows="8" ckeditor ></textarea>
  </div>

  <h3 class="form-section">Tempo estimado para realizar esse serviço</h3>
  <div class="well">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <select class="form-control" ng-model="service.estimated_time.type">
            <option value="">Selecione</option>
            <option value="between">Entre</option>
            <option value="until">Até</option>
          </select>
        </div>
        <div ng-if="service.estimated_time.type != null && service.estimated_time.type != ''">
          <div class="col-md-2" ng-if="service.estimated_time.type == 'between'">
            <input class="form-control" type="number" ng-model="service.estimated_time.min" placeholder="Mínimo">
          </div>
          <div class="col-md-2">
            <input class="form-control" type="number" ng-model="service.estimated_time.max" placeholder="Máximo">
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="service.estimated_time.unit">
              <option value="">Selecione a unidade</option>
              <option value="{{ unit.value }}" ng-repeat="unit in m_units">{{ unit.label }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <p class="help-block">Comentários sobre exceções ou informações adicionais ao tempo estimado</p>
      <textarea class="form-control" ng-model="service.estimated_time.description" ckeditor rows="8"></textarea>
    </div>
  </div>
  <h3 class="form-section">Gratuidade deste serviço</h3>

  <div class="well">
    <div class="radio">
      <label>
        <input type="radio" ng-model="service.free" name="service_free" value="0" ng-checked="service.free == false" > Este serviço é gratuito para o solicitante
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="service.free" name="service_free" value="1" ng-checked="service.free == true"> Este serviço tem custos para o solicitante
      </label>
    </div>
  </div>
  <div  class="alert alert-danger" role="alert">O campo <b>Solicitante</b> tem a finalidade de expôr por quem este serviço pode ser solicitado. Podem ser listados mais de um solicitante, no botão logo abaixo, com o nome de +Solcicitante, é possível incluir mais solicitantes a este serviços.</div>
  <h3 class="form-section">Solicitantes<span>*</span> <small>(Quem pode utilizar este serviço?)</small></h3>

  <div class="well" ng-repeat="applicant in service.applicants">
    <div class="form-group">
      <label class="control-label" for="">Tipo do solicitante {{ $index + 1 }}</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="applicant.type" >
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="removeApplicant(applicant)">Remover solicitante</button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="">Requisitos necessários para o solicitante {{ $index + 1 }}</label>
      <textarea class="form-control" ng-model="applicant.requirements" ckeditor rows="8"></textarea>
    </div>
  </div>

  <hr ng-show="service.applicants.length > 0">
  <a class="btn btn-primary btn-sm" href="" ng-click="addApplicant()"><i class="fa fa-plus"></i> Solicitante</a>

  <h3 class="form-section">Etapas do Serviço<span>*</span></h3>
  <div class="well" ng-repeat="step in service.steps">
    <div class="form-group">
      <label class="control-label" for="">Título da etapa {{ $index + 1 }}</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="step.title" >
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="removeStep(step)">Remover etapa</button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="">Descrição da etapa {{ $index + 1 }}</label>
      <textarea class="form-control" ng-model="step.description" ckeditor rows="8"></textarea>
    </div>
    <h4>Documentos</h4>
    <div class="well well-white">
      <div class="form-group" ng-repeat="document in step.documents">
        <div class="well">
          <h5>Nome do documento</h5>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Documento {{ $index + 1 }}" ng-model="document.name">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button" ng-click="removeDocument(step, document)">Remover documento</button>
            </span>
          </div>
          <h5>Casos</h5>
          <div class="well well-white">
            <div class="form-group" ng-repeat="case in document.cases">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Caso {{ $index + 1 }}" ng-model="case.description">
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" ng-click="removeCase(step, document, case)"><i class="fa fa-trash"></i></button>
                </span>
              </div>
            </div>
            <a class="btn btn-primary btn-sm" href="" ng-click="addCase(step, document)"><i class="fa fa-plus"></i> Caso</a>
          </div>
        </div>
      </div>
      <a class="btn btn-primary btn-sm" href="" ng-click="addDocument(step)"><i class="fa fa-plus"></i> Documento</a>
    </div>

    <h4 ng-if="service.free == true">Custo</h4>

    <div class="well well-white" ng-if="service.free == true">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="">Forma de pagamento</label>
            <select class="form-control" ng-model="step.cost.type">
              <option value="">Selecione</option>
              <option value="dar">Documento de Arrecadação de Receita - DAR</option>
              <option value="boleto">Guia de Pagamento / Boleto Bancário</option>
              <option value="cartao">Cartão de Crédito</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="">Moeda</label>
            <select class="form-control" ng-model="step.cost.coin">
              <option value="R$" selected>R$</option>
              <option value="$">$</option>
              <option value="€">€</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="">Valor</label>
            <input class="form-control" type="text" ng-model="step.cost.value">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label" for="">Descrição</label>
            <textarea class="form-control" ng-model="step.cost.description" rows="8"></textarea>
          </div>
        </div>
      </div>
    </div>
    <h4>Canais de Prestação</h4>
    <div class="well well-white">
      <div class="row" ng-repeat="providing_channel in step.providing_channels">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="">Tipo</label>
            <select class="form-control"
                    ng-options="type_delivery_channel.value as type_delivery_channel.label for type_delivery_channel in types_delivery_channels"
                    ng-model="providing_channel.type" name="channel">
              <option value="">Selecione</option>
            </select>
          </div>
        </div>
        <div class="col-md-8">
          <label class="control-label" for="">Descrição</label>
          <div class="input-group">
            <input type="text" id='id_web' class="form-control" ng-model="providing_channel.description" name="description id_web" ng-if = "somePlaceholder.type == 'web'" placeholder="wwww.exemplo.com">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "somePlaceholder.type == 'e-mail'" placeholder="endereco@provedor.com">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "somePlaceholder.type == 'aplicativo-movel'" placeholder="">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "somePlaceholder.type == 'fax'" placeholder="(xx)xxxx-xxxx">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "somePlaceholder.type == 'postal'" placeholder="">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "somePlaceholder.type == 'presencial'" placeholder="">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "somePlaceholder.type == 'sms'" placeholder="(xx)xxxx-xxxx">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "somePlaceholder.type == 'telefone'" placeholder="(xx)xxxx-xxxx">

            <input type="text" class="form-control" ng-model="providing_channel.description" name="description" ng-if = "!somePlaceholder.type" placeholder="">

            <span class="input-group-btn">
              <button class="btn btn-danger" type="button" ng-click="removeChannel(step, providing_channel)">Remover canal</button>
            </span>
          </div>
        </div>
      </div>
        <a class="btn btn-primary btn-sm" href="" ng-click="addChannel(step)"><i class="fa fa-plus"></i> Canal</a>
   </div>
  </div>
    <hr ng-show="service.steps.length > 0">

    <a class="btn btn-primary btn-sm" href="" ng-click="addStep()"><i class="fa fa-plus"></i> Etapa</a>

    <hr>
    
    <div class="form-group">
      <label class="control-label" for="">Outras Informações</label>
      <textarea class="form-control" ng-model="service.other_informations" ckeditor rows="8"></textarea>
    </div>

    <div  class="alert alert-danger" role="alert"><i><b>Abaixo</b></i> Selecione categorias e unidades de atendimento, elas estão listadas em suas sessões respectivas representadas pelos botões <b>Clique aqui para exibir as Categorias</b> e <b>Clique aqui para exibir os Públicos Alvo</b></div>
  <div class="col-md-12">
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#Categoria">Clique aqui para exibir as Categorias<span>*</span></button>
          
      <div class="modal fade" id="Categoria" role=dialog>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Lista das Categorias para serem selecionadas</h4>
            </div>
            <div class="modal-body">
              <div class="well">
                <div class="checkbox" ng-repeat="category in categories">
                  <label>
                    <input type="checkbox" checklist-model="service.category_ids" checklist-value="category.id" > {{ category.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#Publico">Clique aqui para exibir os Públicos Alvo<span>*</span></button>
          
      <div class="modal fade" id="Publico" role=dialog>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Lista dos Públicos Alvo para serem selecionados</h4>
            </div>
            <div class="modal-body">
               <div class="well">
                <div class="checkbox" ng-repeat="audience in audiences">
                  <label>
                    <input type="checkbox" checklist-model="service.audience_ids" checklist-value="audience.id"  >{{audience.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

    <% if current_user.profile.name == "Administrador Geral" || current_user.profile.name == "Coordenador Local"%>
    <div class="form-group col-md-4">
      <label class="control-label" for="">Ativo<span>*</span></label>
      <input type="checkbox" ng-model="service.active" >
    </div>
    <%end%>
    </div>

    <% if can_view Admin::ServicesController, 'edit' %>
      <%if current_user.profile.name != "Mantenedor"%>
        <div class="col-md-12">
        <div  class="alert alert-danger" role="alert"><i><b>Abaixo</b></i> os campos <b>Responsável pela Informação</b> e <b>Atualizou a Informação</b> devem ser selecionados, caso estejam sem referencia.</div>
          <div class = "form-group col-md-4">
            <label class="control-label" for="">Responsável pela Informação <a type="button" data-toggle="modal" data-target="#Responsavel" style="text-decoration: none; cursor: pointer;">  ?</a></label>
            
            <div class="modal fade" id="Responsavel" role=dialog>
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Descrição do campo Responsável pela Informação</h4>
                  </div>
                  <div class="modal-body">
                    <p>Este campo será preenchido automaticamente com o <%=current_user.name%> pela catalogação deste serviço, assim que salvar este campo estará ligado ao responsável citado para todo o sistema!</p>
                  </div>
                </div>
              </div>
            </div>
            
             <select class="form-control" ng-model="service.coordinator">
              <option  value="<%=current_user.name%>" selected><%=current_user.name%></option>
            </select> 

          </div>

        <%end%>
      <%end%>
    <% if can_view Admin::ServicesController, 'edit' %>
      <div class = "form-group col-md-4">
        <label class="control-label" for="">Atualizou a Informação <a type="button" data-toggle="modal" data-target="#Atualiza" style="text-decoration: none; cursor: pointer;">  ?</a></label>
      
        <select class="form-control" ng-model="service.latest_updater">
            <option  value="<%=current_user.name%>" selected="<%=current_user.name%>"><%=current_user.name%></option>
          </select> 
      </div>
      <div class="modal fade" id="Atualiza" role=dialog>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Descrição do campo Atualizou a Informação</h4>
            </div>
            <div class="modal-body">
              <p>Este campo será preenchido automaticamente com o <%=current_user.name%> pela atualização deste serviço, assim que salvar este campo estará ligado ao responsável citado para todo o sistema como quem atualizou este serviço, nesta data e no dado momento em que for salvo!</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div class="col-md-12">
  

          <!-- Modal -->
    <div class="modal fade" id="MaturidadeModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Descrição dos níveis de maturidade</h4>
          </div>
          <div class="modal-body">
            <p><b>Informacional</b></p>
            <blockquote>Apenas disponibiliza informações sobre o serviço, sem alguma interatividade(Ex.:Informações em um site);</blockquote>
            <p><b>Interativo</b></p>
            <blockquote>O cidadão dispõe de um espaço para interagir online com governo.(Ex.: e-SIC);</blockquote>
            <p><b>Transacional</b></p>
            <blockquote>Serviço 100% on-line, sem a necessidade de interação física com o órgão.(Ex.:Emissão de Contracheque);</blockquote>
            <p><b>Transformacional</b></p>
            <blockquote>Serviço inovador, resultado do redesenho de processos e integração de outros serviços existentes.(Ex.: Abertura de empresas via Portal Facilita);</blockquote>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <div  class="alert alert-danger" role="alert">O campo <b>Nível de Maturidade</b> deve ser preenchido conforme a aplicação do serviço para o público alvo, veja as definições na tag <b><i>?</i></b> que está ao lado do nome do campo.</div>
    <label>Nível de Maturidade</label><span>*</span><a type="button" data-toggle="modal" data-target="#MaturidadeModal" style="text-decoration: none; cursor: pointer;">  ?</a>
    <select class="form-control" ng-model="service.maturity_level">
      <option value="Informacional"  >Informacional</option>
      <option value="Interativo"  >Interativo</option>
      <option value="Transacional"  >Transacional</option>
      <option value="Transformacional"  >Transformacional</option>
    </select>
</div>
<div class="col-md-12">
<br>
  <div ng-if="(service.name == Null)  || (service.unit_ids == Null) || (service.description == Null) || (service.applicants.length == Null) || (service.steps == Null) || (service.category_ids == Null)|| (service.audience_ids == Null)|| (service.maturity_level == Null) || (service.coordinator == Null) || (service.latest_updater == Null)"> 
    <div  class="alert alert-danger" role="alert">
        O botão de salvar só aparecerá(Ficará habilitado) depois de preencher os campos obrigatórios:<b> Nome, unidades de atendimento, Descrição(O que é), Solicitantes, Etapas do Serviço, Categorias, Público Alvo, Ativo, Nível de Maturidade, o Responsável pela Informação e Quem Atualizou a Informação</b>.
      <button class="btn btn-success pull-right" disabled>Salvar</button>
    </div>
  </div>
  <div ng-if="(service.name !=Null) && (service.unit_ids != Null) && (service.description != Null) && (service.applicants.length !=Null) && (service.steps != Null) && (service.category_ids != Null) && (service.audience_ids != Null) && (service.maturity_level != Null) && (service.coordinator != Null)&& (service.latest_updater != Null)">
  <button class="btn btn-success pull-right" ng-click="save()" ng-disabled="unitForm.$invalid">Salvar</button></div>
</div>
  </form>
  <br>
</div>
