<h3>Serviços</h3>

<hr>
<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>
<div ng-controller="ServicesEditController" ng-init="loadService('<%= @service.id %>')">
	<%= render 'form' %>
	
</div>

	

<%= link_to 'Voltar', admin_services_path, class: 'btn btn-info' %>
