<h3>Serviços</h3>
<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>


  Total de serviços cadastrados <span class="badge"><%= @services.length %></span>


<hr>
<a class="btn btn-primary" href="/admin/services/new">Adicionar novo</a>
  
<hr>

<div class="col-md-9">
  <table class="table table-hover table-fixed">

  <!--Table head-->
  <thead>
      <tr>
        <th>Órgão</th>
        <th>Nome</th>
        <!-- <th>Destaque</th> -->
        <th>Permalink</th>
        <th>Responsável pela informação</th>
        <th>Data da Criação</th>
        <th>Data da Modificação</th>
        <th>Quem atualizou?</th>
        <% if can_view Admin::ServicesController, 'edit' %>
          <th></th>
        <% end %>
        <% if can_view Admin::ServicesController, 'destroy' %>
          <th></th>
        <% end %>
      </tr>
    </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.organ.acronym if service.organ %></td>
          <td><%= service.name.truncate(25) %></td>
          <!-- <td><a style="text-decoration: none;"><%= service.highlights %><span class="badge"><%= service.highlights_value %></span></a><br></td> -->
          <td><%= service.permalink %></td>
          <td><%= service.coordinator %></td>
          <td><%= service.date %></td>
          <td><%= service.date_modified %></td>
          <td><%= service.latest_updater %></td>
          <td><span class="label label-<%= (service.active) ? 'success' : 'danger' %>">Ativo</td>
          <% if can_view Admin::ServicesController, 'edit' %>
            <td><a href="<%= edit_admin_service_path(service) %>">Editar</a></td>
          <% end %>
          <% if can_view Admin::ServicesController, 'destroy' %>
            <td><%= link_to 'Remover', [:admin, service], method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <!--Table body-->

</table>
<!--Table-->
</div>