
<div>
<!-- {{county_places}} -->
  <form novalidate>
    <input type="file" nv-file-select="" uploader="uploader" />
    <% if current_user.profile.name == "Administrador Geral" %>
      <label>Endereço do Relatórido deste Órgão</label>
      <input type="text" ng-model="organ.report_url">
    <% end %>
    <br>
    <div class="form-group">
      <label class="control-label" for="">Nome<span>*</span></label>
      <input class="form-control" type="text" ng-model="organ.name" required>
    </div>

    <label class="control-label" for="">Nomes Populares</label>
      <div class="form-group" ng-repeat="popular_name in organ.popular_names">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Nome Popular {{ $index + 1 }}" ng-model="popular_name.name">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="removePopularName(popular_name)"><i class="fa fa-trash"></i></button>
          </span>
        </div>
      </div>
      <a class="btn btn-primary btn-sm" href="" ng-click="addPopularName()"><i class="fa fa-plus"></i> Nome Popular</a>
      <hr>

    <div class = "form-group">
      <label class="control-label" for="">Natureza do orgão<span>*</span></label>
      <select class="form-control" ng-model="organ.nature">
        <option value="Nacional">Federal</option>
        <option value="Estadual">Estadual</option>
        <option value="Municipal">Municipal</option>
        <option value="Outros">Parceiros</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="">Sigla</label>
      <input class="form-control" type="text" ng-model="organ.acronym">
    </div>
    
    <div class="form-group">
      <label class="control-label">Município</label>
      <select class="form-control" ng-model="organ.county" required>
        <option value="">Selecione o município</option>
        <option ng-repeat="county in county_places" value="{{county}}">{{county}}</option>
      </select>
    </div>
    <div class="form-group">
      <script id="searchbox.tpl.html" type="text/ng-template">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <input class="form-control" id="editado" placeholder="Procure" type="text" ng-model="organ.address" style="width: 300px;" required>
        <!-- <input type="text" placeholder="Procure" style="width: 300px;" class="form-control" ng-model="organ.address" required> -->
    </div>
  </script>
  <!-- Pesquisa feita por: {{organ.address}} -->


  Endereço Atual: {{organ.address}} 
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="map">
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events"  position='searchbox.position'></ui-gmap-search-box>
     
     <ui-gmap-marker doCluster="false" fit="'true'" coords="marker.coordinates" idkey="123" events="marker" options="{ draggable: true}">
        </ui-gmap-marker>
    
      <ui-gmap-drag-zoom keyboardkey="'ctrl'"></ui-gmap-drag-zoom>
  </ui-gmap-google-map>
    </div>
    <div class="form-group">
      <label class="control-label" for="">Telefones</label>
      <input class="form-control" type="text" ng-model="organ.phones">
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Horários</h4>
      </div>
      <div class="clearfix" ng-repeat="schedule in organ.schedules">
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control" ng-model="schedule.day">
              <option value="">Selecione o dia</option>
              <option value="sunday">Domingo</option>
              <option value="monday">Segunda</option>
              <option value="tuesday">Terça</option>
              <option value="wednesday">Quarta</option>
              <option value="thursday">Quinta</option>
              <option value="friday">Sexta</option>
              <option value="saturday">Sábado</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Início" ng-model="schedule.start">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Fim" ng-model="schedule.end">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <button class="btn btn-danger" ng-click="removeSchedule(schedule)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success" ng-click="addSchedule()"><i class="fa fa-plus"></i></button>
    <hr>

    <div class="form-group">
      <label class="control-label" for=""> Dirigente Principal <span>*</span></label>
      <input class="form-control" type="text" ng-model="organ.chief_executive_officer" style="text-transform: uppercase;" required>
    </div>

    <div class="form-group">
      <label class="control-label" for=""> Cargo <span>*</span></label>
      <input class="form-control" type="text" ng-model="organ.office" style="text-transform: uppercase;" required>
    </div>

    <div class="form-group">
      <label class="control-label" for=""> Email Oficial do Órgão  <span>*</span></label>
      <input class="form-control" type="email" ng-model="organ.official_email" required>
    </div>

    <div class="form-group">
      <label class="control-label" for=""> Site Oficial do Órgão  <span>*</span></label>
      <input class="form-control" type="text" ng-model="organ.official_site" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="">Ativo<span>*</span></label>
        
      <input type="checkbox" ng-model="organ.active" value="organ.active">
    </div>

    <button class="btn btn-success pull-right" ng-click="save()" ng-disabled="organForm.$invalid">Salvar</button>
  </form>
</div>