	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<meta charset="utf-8">
	  
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
		<body>
		
			<nav class="navbar navbar-default" >
			  <div class="container-fluid" style="margin-bottom: 1%;">
			    <div class="navbar-header" style="padding-left: 20%; ">
			      <a class="navbar-brand" href="#"><img src="/media/imagens/logomarcaSEI.png" style="margin-left: -50%;"></a>
			    </div>
			    <ul class="nav navbar-nav" style="font: normal normal normal 13px/1.2em raleway,sans-serif;
				    font-family: raleway,sans-serif;
				    font-style: normal;
				    font-weight: normal;
				    font-size: 13px;
				    line-height: 1.2em;
				    font-size-adjust: none;
				    font-stretch: normal;
				    -x-system-font: none;
				    font-feature-settings: normal;
				    font-language-override: normal;
				    font-kerning: auto;
				    font-synthesis: weight style;
				    font-variant-alternates: normal;
				    font-variant-caps: normal;
				    font-variant-east-asian: normal;
				    font-variant-ligatures: normal;
				    font-variant-numeric: normal;
				    font-variant-position: normal; 
				    margin-right: 30%; margin-top: 2%;
				    position: relative;
						right: -15%;">
			      <li class="active"><a href="#">INÍCIO</a></li>
			      <li><a href="http://hmlsip.sei.al.gov.br/sip/login.php?sigla_orgao_sistema=AL&sigla_sistema=SEI&infra_url=L3NlaS8=">AMBIENTE DE TREINAMENTO</a></li>
			      <li><a href="http://seplag.al.gov.br/sei-alagoas">SOBRE O SEI</a></li>
			      <li><a href="#">CONTATO</a></li>
			    </ul>
			  </div>
			</nav>
		<div class="col-md-9 container-fluid">	
			<div class="col-md-12">
				<img src="/media/imagens/LOGO2sei.png" style="width: 100%; object-fit: cover margin-top: 7%; position: relative;right: -16%;">
				<img src="/media/imagens_portal/traco-azul.png" style="width: 100%;right: -18%;position: relative;
	padding: 0%;">
			</div>
			<div class="col-md-12 col-sm-12 col-lg-11" style="margin-left: 3%; position: relative; right: -14%; padding: 0%;">
				<div class="col-md-2">
					<img src="/media/imagens/perguntaSei.png">
				</div>
				<div class="col-md-2">
					<img src="/media/imagens/capacitacaoSei.png">
				</div>
				<div class="col-md-2">
					<img src="/media/imagens/consultaSei.png">
				</div>
				<div class="col-md-2">
					<img src="/media/imagens/apoioSei.png">
				</div>
				<div class="col-md-2">
					<img src="/media/imagens/documentosSei.png">
				</div>
				<div class="col-md-2">
					<img src="/media/imagens/acessoSei.png">
				</div>				
				
			</div>
			<div class="col-md-12 col-sm-12 col-lg-11">
				<div class="col-md-6">
					<video width="400" controls style="position: relative;
	right: -44%;" >
		        <source src="/media/{{video}}" type="video/mp4" style="float: center;">
		        <source src="mov_bbb.ogg" type="video/ogg">
			    </video>
				</div>
				<div class="col-md-6">
					<br>
					<br>
						<nav class="navbar navbar-default" style="width: 105%; margin-top:-12%; margin-left: 50%; background-color: #3493E3" >
							<h4 style="margin-left: 5%; margin-top: 3% ;color: white;">Notícias</h4>						
						</nav>
						<div class="col-md-12" style="position: relative;right: -47%;">
							<small>{{noticias.data_publicacao}}</small>
							<h2>{{noticias.titulo  | safe | slice:"0:100"}}</h2>
								<p>{{noticias.nota | safe | slice:"0:250"}}</p>
								<br />
								<a href="{{noticias.url_noticia}}" target="_blanck">Leia Mais</a>

								<br />
						</div>				
							
					
						<div class="col-md-12" style="margin-left: 47%">
						<small>{{noticias1.data_publicacao}}</small>
						<h2 >{{noticias1.titulo  | safe | slice:"0:100"}}</h2>
							<p>{{noticias1.nota | safe | slice:"0:250"}}</p>
							<br />
							<a href="{{noticias1.url_noticia}}" target="_blanck">Leia Mais</a>

							<br />
							
						</div>
					
					<div class='col-md-12' style="position: relative; top: 10%;" >
						<a href="http://sei.al.gov.br/sei/modulos/pesquisa/md_pesq_processo_pesquisar.php?acao_externa=protocolo_pesquisar&acao_origem_externa=protocolo_pesquisar&id_orgao_acesso_externo=0" style="text-decoration: none; font-size: 24; color: rgb(83, 81, 81); margin-left: -139%; position: absolute; top: -451%"><img src="/media/imagens/pesquisa_processual.png" "> Pesquisa Processual</a>
						<div class="col-md-12"><a href="http://mudarsenha.sei.al.gov.br/login/" style="text-decoration: none; font-size: 24; color: rgb(83, 81, 81); margin-left: 2%;"><img src="/media/imagens/usuario_externo.png" > Mudar a senha</a></div>
					</div>
				</div>		

			</div>

		</div>	
		
		<div class="col-md-12">
		<br >
		<br >
				<nav class="navbar navbar-default" style="background-color: #3493E3" >
					<h4 style="margin-left: 5%; margin-top: 3% ;color: white;"></h4>						
				</nav>
			</div>
		</body>
	</html>