<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>

<h3>Orgãos</h3> 
<% @admin_organs.each do |admin_images|%>
  <img src="<%= admin_images.attachment %>" width="50" height="50" alt="<%= admin_images.name %>"/>
<% end %>

<hr>
<%if current_user.profile.name == "Administrador Geral"%>
  <a class="btn btn-primary" href="<%= new_admin_organ_path %>">Adicionar novo</a>

<%end%>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>---</th>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Ativo</th>
      <th>Permalink</th>
      <%if current_user.profile.name == "Administrador Geral"%>     
        <th>Relatório</th>
      <% end %>
      <%if  current_user.profile.name == "Coordenador Local"%>
        <th>Relatório</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%if current_user.profile.name == "Administrador Geral" %>
    <% @admin_organs.each do |admin_organ|%>
      <tr>
        <td><img src="<%= admin_organ.attachment.url %>"  class="img-thumbnail"></img></td>

        <td><%= admin_organ.name %></td>
        <td><%= admin_organ.acronym %></td>
        <td><span class="label label-<%= (admin_organ.active) ? 'success' : 'danger' %>">Ativo</td>
        <td><%= admin_organ.permalink %></td>

        <td><a href="<%= admin_organ.report_url %>" target=_blanck><%= admin_organ.report_url %></td>
        <td><a href="<%= edit_admin_organ_path(admin_organ) %>">Editar</a></td>
        <td><%= link_to 'Remover', admin_organ, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  <%end%>
  <% if current_user.profile.name == "Coordenador Local" %>
      <tr>

        <td><img src="<%= current_user.organ.attachment.url %>"  class="img-thumbnail"></img></td>
        <td><%= current_user.organ.name %></td>
        <td><%= current_user.organ.acronym %></td>
        <td><%= current_user.organ.active %></td>
        <td><%= current_user.organ.permalink %></td>
        <td><a href="<%= current_user.organ.report_url %>" target=_blanck><%= current_user.organ.report_url %></td>
        <td><a href="<%= edit_admin_organ_path(current_user.organ) %>">Editar</a></td>
        
      </tr>
  <%end%>
  </tbody>
</table>