<h2>Acesso ao sistema </h2>
<div class="imgcontainer">
    <img src="/assets/layout/checklist.png" alt="Avatar" class="avatar">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false%>
	    <%= f.input :cpf, required: true,:input_html => { :maxlength => 11, :"data-mask" => "999.999.999.99" } %>
	    <%= f.input :password, required: false, label: 'Senha' %>
	  </div>
	  <div class="form-actions pull-right">

	    <%= f.button :submit, "ENVIAR" %>
	    <%= f.input :remember_me, label: 'Lembrar-me' ,as: :boolean if devise_mapping.rememberable? %>
	  </div>
	<% end %>
  </div>
</div>

