
<%= simple_form_for @admin_profile, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: 'Nome', required: :true %>

  <div class="well">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="checkAll">
        <i class="input-helper"></i>
        Marcar Todos
      </label>
    </div>

    <hr>
    
  	<ul style="list-style: none; padding: 0;">
  		<% @controlers.each do |controller| %>
  			<li>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkAll">
              <i class="input-helper"></i>
              <%= controller.name %>
            </label>
          </div>
  				<ul style="list-style: none; padding: 10px 0 10px 30px;">
  					<% controller.auth_actions.each do |action| %>
  						<li>
						    <div class="checkbox">
						      <label>
                    <input type="checkbox" name="admin_profile[auth_action_ids][]" value="<%= action.id %>" <%= 'checked="checked"' if action.id.in? @admin_profile.auth_actions.collect(&:id) %>
						        <i class="input-helper"></i>
						        <%= action.description || action.name %>
						      </label>
						    </div>
  						</li>
  					<% end %>
  				</ul>
  			</li>
  		<% end %>
  	</ul>
  </div>

  <button class="btn btn-success pull-right">Salvar</button>
<% end %>

<script>
  $("#checkAll").click(function(){
    $(this).parent().parent().parent().find('ul li input:checkbox').not(this).prop('checked', this.checked);
  });
  $(".checkAll").click(function(){
    $(this).parent().parent().parent().find('ul li input:checkbox').not(this).prop('checked', this.checked);
  });
</script>