<h3>Perfil</h3>

<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>
<hr>

<a class="btn btn-primary" href="/admin/profiles/new">Adicionar novo</a>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>

        <td><a href="<%= edit_admin_profile_path profile %>">Editar</a></td>

        <td><%= link_to 'Remover', profile, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>