<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active"><%=@audience.name%> </li>
</ol>
<div class="col-md-12 col-lg-12" >

	<div class="col-md-9" style="position: relative; left: 10%;">
    
		<div class="col-md-9 col-lg-10 col-xl-10" style="background-color: rgba(9, 40, 126, 0.78); border-radius: 8px; left: 9%;" >  
       <h2 style="color: white;"><%=@audience.services.length %> Serviços por Público Alvo 
    "<%=@audience.name%>"</h2>
     </div>

    <div class="row">
			<% @services.each do |service| %>
				<% if service.active%>
		      <div class="col-md-4 col-sm-3 col-xs-6 col-lg-4">
	      		<br>
		        <div class="service-item">
		          <a href="<%= service.url %>">
		            <h4><%= service[:name] %></h4>
		          </a>
		          <div class="clearfix"></div>
		          <a class="btn btn-default btn-sm" href="<%= service.url %>">
		            Ver mais
		          </a>
		          <div class="clearfix"></div>
		          <br>
							<% service.categories.each do |category| %>
			          <a href="<%= category.url %>">
			            <span class="label label-primary" ><%= category.name %></span>
			          </a>
							<% end %>
		        </div>
		      </div>
		    <% end %>
			<% end %>
    </div>

    <div class="text-center">
			<%= paginate @services %>
    </div>
  </div>
</div>

<script>
	var heights = [];
	$('body .service-item').each(function (index) {
		heights.push($(this)[0].clientHeight);
	});
	var largest = Math.max.apply(Math, heights);
	$('body .service-item').css({height: largest});
</script>
