<main>	
	<div class="col-3 col-no-left">
		<%= render 'shared/menu' %>
	</div>
	<div class="col-9">
		<div class="search">
			<input type="text" placeholder="Buscar por serviços" ng-model="q">
		</div>
		<h2 class="title">Serviços relacionados ao público alvo ...</h2>
		<hr>
		<div class="col-9 col-no-left-right">
			<div class="service-card">
				<% @audience.each do |audiences| %>
					<a href="/<%= audiences.name %>/"><%= audiences.name %></a>
				<% end %>
				</div>
			</div>
		</div>
		<div class="col-12 col-no-left-right">
			<div class="banner">
				<hr>
				<img src="http://placehold.it/468x60" alt="Banner">
			</div>
		</div>
	</div>
</main>