<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item"><a href="/central-de-atendimento">Centrais de atendimento-já!</a></li>
</ol>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDij4Z3AFhetKwsKd9dP6gd0jPceh4Y70I&callback=initMap"></script>
<div>
	<div ng-controller="CentersIndexController" style="position: relative; top: 10%;">
		<div class="col-md-12">
			<script>

        function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: { lat: -9.6498, lng: -36.6640 }
        });
        var infoWin = new google.maps.InfoWindow();
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          var marker = new google.maps.Marker({
            position: location
          });
          google.maps.event.addListener(marker, 'click', function(evt) {
            infoWin.setContent(location.info);
            infoWin.open(map, marker);
          })
          return marker;
        });

        // markerCluster.setMarkers(markers);
        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers, {
          imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        });

      }
          var locations = [
            {lat: -9.579182337879967, lng: -36.30610839852909, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! Maribondo</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-maribondo">Central JÁ! Maribondo'+'</a> '+'</p>'+
                  '</div>'+'</div>'},
            {lat: -9.050123951123046, lng: -35.413433990550004, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! Porto Calvo</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-porto-calvo">Central JÁ! Porto Calvo'+'</a> '+'</p>'+
                  '</div>'+'</div>'},
            {lat: -9.78027982122648, lng: -36.09737545251846, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! São Miguel</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-sao-miguel">Central JÁ! São Miguel'+'</a> '+'</p>'+
                  '</div>'+'</div>'},
            {lat: -9.628205487562214, lng: -35.73843955993652, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! Shopping Farol</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-farol">Central JÁ! Shopping Farol'+'</a> '+'</p>'+
                  '</div>'+'</div>'},

            {lat: -9.559026161619396, lng: -35.746256187558174, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! Shopping Pátio Maceió</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-patio-maceio">Central JÁ! Shopping Pátio Maceió'+'</a> '+'</p>'+
                  '</div>'+'</div>'},
            {lat: -9.648724294637569, lng: -35.715712532401085, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! Maceió Shopping</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-maceio-shopping">Central JÁ! Maceió Shopping'+'</a> '+'</p>'+
                  '</div>'+'</div>'},
            
            {lat: -9.75281127628364, lng: -36.658424287501816, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! Arapiraca</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-arapiraca">Central JÁ! Arapiraca'+'</a> '+'</p>'+
                  '</div>'+'</div>'},
            {lat: -10.290694276224626, lng: -36.585809737443924, info:'<div id="content">'+'<div id="siteNotice">'+
                '</div>'+'<h1 id="firstHeading" class="firstHeading">Central Já! Penedo</h1>'+
                '<div id="bodyContent">' +'<p>Acesse, <a href="central-de-atendimento/central-ja-penedo">Central JÁ! Penedo'+'</a> '+'</p>'+
                  '</div>'+'</div>'}, 
      ]

        </script> 
	     <div align="center">
	       <h2 class="col-md-12 col-sm-12 col-lg-12 col-xs-12 col-xl-12" style="font-weight: bold; color: white; position: relative;">Centrais de Atendimento JÁ!</h2>
	     </div>
			<br>
      <br>
	  </div>

	</div>

</div>
<div id="map" style="width: 100%;height: 817px; "></div>
  </div> 
        <ul style="position: relative; left: 1%; margin-bottom: 10%;">
        <a ng-repeat="center in centers" href="{{ center.url }}">
         <span class="label label-primary">{{ center.name }}</span>
        </a> 
       </ul>