<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item"><a href="/central-de-atendimento">Centrais de atendimento-já!</a></li>
  <li class="breadcrumb-item active"><%= @center.permalink  %></li>
</ol>
<div >
  <div class="col-md-12 col-lg-12 col-xl-12 col-xs-12 " ng-controller="OrgansIndexController" style="position: relative;left: 5%; background-color: rgba(7, 10, 20, 0.7);">
    
    <div class="col-md-9 ">
      <div class="row">
        <div class="col-md-12">
          <h2 style="color: rgb(162, 18, 31); position: relative; left: 12%; color: white"><%= @center.name %></h2>
        </div>

        <div class="col-md-12" style="position: relative; left: 10%;">
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDij4Z3AFhetKwsKd9dP6gd0jPceh4Y70I&callback=initMap"></script>
          <script>
            function initMap() {
              var myLatLng = { lat: <%= @center.coordinates[:latitude] %>, lng: <%= @center.coordinates[:longitude] %> };

              var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 15
              });

              var marker = new google.maps.Marker({
                map: map,
                position: myLatLng
              });
            };
          </script>
          <div id="map" style="width: 100%; height: 200px; margin-bottom: 10px;"></div>
        </div>   
        
      
      <div class="col-md-6" style="position: relative; left: 10%;">
        <h3 style="color: white;">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Informações
        </h3>
         <blockquote style="font-size: 14px; color: white;">
          <p><span style="font-weight: bold;">Endereço:</span> <%= @center.address %></p>
          <p><span style="font-weight: bold;">Telefones:</span> <%= @center.phones %></p>
          </blockquote>
        
      
        <h3 style="color: white;">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Horário de Funcionamento
        </h3>
        <% if !@center.schedules.blank? && @center.schedules.size > 0 %>
            <blockquote style="font-size: 14px; color: white;">
              <table width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Início </th>
                    <th>Fim</th>
                  </tr>
                </thead>
                <tbody>
                  <% @center.schedules.each do |schedule| %>
                    <tr>
                      <td>
                        <% if schedule[:day] == "monday" %>
                          <b><em>Segunda-feira</em></b> 
                        <% end %>
                        <% if schedule[:day] == "tuesday" %>
                          <b><em>Terça-feira</b></em>
                        <% end %>
                        <% if schedule[:day] == "wednesday" %>
                          <b><em>Quarta-feira</b></em>
                        <% end %>
                        <% if schedule[:day] == "thursday" %>
                          <b><em>Quinta-feira</b></em>
                        <% end %>
                        <% if schedule[:day] == "friday" %>
                          <b><em>Sexta-feira</b></em>
                        <% end %><br>
                      </td>
                      <td><%= schedule[:start] %></td>
                      <td><%= schedule[:end] %></td>
                    </tr> 
                  <% end %>      
                </tbody>
              </table>
            </blockquote>
          <% end %>
          <br>
      </div>
      <div class="col-md-6" style="position: relative; left: 10%;">
          <div class="col-md-12" style="position: relative; left: 10%;">
            <h3  style="color: white;">
              <i class="fas fa-map-marker-alt"></i>  Unidades de atendimento
            </h3>
            <ul class="list-group">
              <% @center.units.each do |unit| %>
                <li class="list-group-item">
                  <a href="<%= unit.url %>" style="text-decoration:none;">
                    <%= unit[:name] %> <span class="label label-primary"></span>
                  </a>        
                </li>
              <% end %>
              <br><br>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>