 <style type="text/css">
   #centro {
    margin-left: auto;
    margin-right: auto;
    width: 15em;   
}
 </style>

 <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
  <li>
    <a data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu" style="background-color: #a2121f;font-weight: bold; color: white;">TIPOS DE SERVIÇOS <i class="fa fa-minus-circle"></i></span></a>
    <ul class="nav nav-stacked collapse in left-submenu" id="item1" style="background-color: #eee;">
      <% @categories.each do |category| %>
    <li>
      <a href="<%= category.url %>">
        <span class="circle col-md-4" ><i class="fa fa-search"></i></span>
        <span style="color: #a2121f;"><%= category.name %></span> <span class="badge"><%=category.services.length %></span></a>
      </a>
    </li>
  <% end %>
    </ul>
  </li>
  <br/>
  <li>
    <a data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu" style="background-color: #a2121f;font-weight: bold; color: white;">PARA QUEM OS SERVIÇOS ATENDEM <i class="fa fa-plus-circle"></i></a>          
    <ul class="nav nav-pills nav-stacked collapse" id="item2" style="background-color: #eee;">
      <% @audiences.each do |audience| %>
        <li>
          <a href="<%= audience.url %>" >
            <span class="circle col-md-4" style="background-color: #a2121f;"><i class="fa <%=audience.icon%>"></i></span> 
            <span style="color: #a2121f;"><%= audience.name %></span>
          <span class="badge"><%=audience.services.length %></a>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
<script type="text/javascript">
  $('a').click(function() {
  $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
  $('.content').toggleClass('active');
  });
</script>
<br />
  <div class="container- " id="centro" >
    
      <a href = "http://www.agenciaalagoas.al.gov.br/" class="img-thumbnail" >
         <img src="/assets/layout/Guia_Serviços_agência-alagoas.jpg" title="Agência Alagoas parceira do Guia de Serviços de Alagoas" alt = "Agência Alagoas parceira do Guia de Serviços de Alagoas" >
      </a>
    
    
      <a href = "http://transparencia.al.gov.br/" class="img-thumbnail">
         <img src="/assets/layout/Guia_Serviços_portal_da_transparencia2015" title="Portal da Transparência de Alagoas parceira do Guia de Serviços de Alagoas"  alt = "Portal da Transparência de Alagoas parceira do Guia de Serviços de Alagoas" width="170">
      </a>
    
      
    
      <a href = "http://www.doeal.com.br/" class="img-thumbnail">
         <img src="/assets/layout/Guia_Serviços_diario_oficial.jpg" title="Diário Oficial do Estado de Alagoas parceira do Guia de Serviços de Alagoas" alt = "Diário Oficial do Estado de Alagoas parceira do Guia de Serviços de Alagoas">
      </a>
    
    
      <a href = "http://www.dados.al.gov.br/" class="img-thumbnail">
         <img src="/assets/layout/Guia_Serviços_dadosAl.png" title ="Alagoas em Dados parceira do Guia de Serviços de Alagoas" alt = "Alagoas em Dados parceira do Guia de Serviços de Alagoas">
      </a>
    
  </div>
