<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active">Sobre o Guia de Serviços</li>
</ol>
<div class="col-md-12" style="margin-bottom: 15%; color: white; background-color: rgba(7, 10, 20, 0.7);">
	<h1>Guia de Serviços de Alagoas</h1>

		<div class="col-md-12">
			<h3>Objetivo</h3><br>
			<div class="col-md-9 " style="text-align: center; position: relative; left: 10%;">
				<p style="text-indent:4em; text-align: justify;">O Guia de Serviços atua como um “instrumento de integração governamental com	foco nas informações que o governo precisa ofertar à sociedade com qualidade e tempestividade”. Busca reunir e coordenar a participação dos órgãos e entidades do Governo
			do Estado num modelo colaborativo de produção e disponibilização de informações sobre
			serviços.</p><br>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 col-lg-12">
			<h3>Justificativa</h3><br>
			<div class="col-md-9 " style="text-align: center; position: relative; left: 10%;">
				<p style="text-indent:4em; text-align: justify;">
					O projeto visa subsidiar o cumprimento de dispositivos da Lei Federal Nº
				13.460/2017 (<a style="color: white;" href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2017/lei/L13460.htm" target="_blank">www.planalto.gov.br/ccivil_03/_ato2015-2018/2017/lei/L13460.htm</a>), que
				dispõe sobre participação, proteção e defesa dos direitos do usuário dos serviços públicos da
				administração pública.
				</p>
				<p style="text-indent:4em; text-align: justify;">
					Neste contexto, o Guia de Serviços cria condições para que os órgãos e entidades da
				administração pública estadual já disponham das informações necessárias para a
				disponibilização da “Carta de Serviços ao Usuário”, corroborada pela referida Lei, em seu Art.
				7º, que diz que, os órgãos e entidades abrangidos por esta Lei divulgarão Carta de Serviços ao
				Usuário.
				</p>

				<p style="text-indent:4em; text-align: justify;">
					O Guia de Serviços do Governo de Alagoas é regulamentado pelo Decreto Estadual nº
				58.690/2018 (<a style="color: white;" href="http://www.doeal.com.br/portal/visualizacoes/pdf/#/p:8/e:30563" target="_blank">http://www.doeal.com.br/portal/visualizacoes/pdf/#/p:8/e:30563</a>) que:
				<blockquote>
					“INSTITUI, NO ÂMBITO DO PODER EXECUTIVO ESTADUAL, NORMAS
					PARA A OFERTA E DISPONIBILIZAÇÃO DE INFORMAÇÕES SOBRE
					SERVIÇOS PÚBLICOS À POPULAÇÃO, E DÁ OUTRAS PROVIDÊNCIAS.”
				</blockquote>
				</p>

				<p style="text-indent:4em; text-align: justify;">
					Conforme Art. 6º Fica instituído o Guia de Serviços do Governo de Alagoas,
				plataforma eletrônica que consolida e disponibiliza, de forma integrada, as informações
				contidas nas Cartas de Serviços ao Usuário de todos os Órgãos e Entidades do Poder Executivo
				Estadual.
				</p>

				<p style="text-indent:4em; text-align: justify;">
					E no Guia de Serviços, toda a informação disponível está em formato aberto (Figura
				1), ou seja, a plataforma também cumpre os dispositivos mais avançados da Lei Federal de
				Acesso a Informação (Lei 12527/2011) que prevê que os sítios que disponibilizam informações
				públicas devem disponibilizá-las em formatos automatizados e processáveis por máquina.					
				</p>
				<p style="text-indent:20em; text-align: justify;">
					<img src="/assets/layout/api.png" width="300"><br>
					<span style="position: relative;left: 25%">Figura 1: API do Guia de serviços (<a style="color: white;" href="http://servicos.al.gov.br/api" target="_blank">http://servicos.al.gov.br/api</a>)</span>
				</p>

				<p style="text-indent:20em; text-align: justify;">
					Além disso, no Guia de Serviços você pode conversar com a Jaque (Figura 2), a
				atendente virtual das Centrais de Atendimento ao Cidadão - Já, que vai esclarecer todas as
				suas dúvidas sobre os serviços ofertados pelo Governo de Alagoas através de um atendimento
				virtual moderno, rápido e dinâmico.
				</p>
				<p style="text-indent:20em; text-align: justify;">
					<img src="/assets/layout/centrais_ja.png" width="300"><br>
					<span style="position: relative;left: 25%">Figura 2: Atendente virtual Jaque das Centrais de Atendimento ao Cidadão - Já </span>
				</p>
			</div>
		</div>
</div>