<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active">Documentação da api</li>
</ol>
<div class="col-md-10" style="float: right;margin-bottom: 15%; color: white; background-color: rgba(7, 10, 20, 0.7);" align="center">
	<h1>Documentação da API do Guia de Serviços</h1><a href="/apiv1.odt/" target="_blank"><i class="fa fa-download"></i></a>

	<h5>Este documento é referente a versão v1 da api do Guia de Serviços.</h5>
	<div class="col-md-10">
		<small style="text-align: justify-all;">A api v1 está disponível no endereço <i>www.servicos.al.gov.br/api/v1/api</i>. </small>
		<h3><a href="/api/v1/services.json" target="_blank" style="color: white;">Services.json</a></h3>
			<small style="text-align: justify-all;">A sessão de serviços é apresentada no endereço <i><a href="/api/v1/services.json" target="_blank">www.servicos.al.gov.br/api/v1/services.json</a></i>, onde serão listados os serviços por <i>id do serviço</i>,<i> nome do serviço</i>,<i> descrição do serviço</i>,<i> o endereço do serviço no sitema</i> e o <i>órgão responsável por tal serviço.</i></small>

			<h4 ><a style="color: white;">Descrição dos Serviços</a></h4>
			<blockquote style="background-color: white;">
				<small style="text-align: justify-all;">
					Para descrever um determinado serviço é preciso que seja usado o endereço www.servicos.al.gov.br/api/v1/services/"id_do_serviço".json. 
					<p>O "id_do_serviço" é o id do serviço que é apresentado na listagem dos serviços uma sessão anterior. <p>A descrição do serviço retorna o <i>id</i>, <i>name </i>, <i>active (este campo informa se o serviço está ativo no sistema)</i>, <i>popular_names (são os nomes populares para a identificação do serviço.)</i>, <i>description</i>, <i>free (se tem custos para o cidadão na prestação do serviço)</i>, <i>url (o endereço do serviço no guia de serviços)</i>, <i>permalink</i>, <i>steps (passos para a prestação de serviços)</i>, <i>applicants (retorna quem pode solicitar o serviço) e dentro deste key tem as compontenes {type,requirements,other_informations } (estes keys trazem as informações sobre o tipo de requerente, o cenário em que se deve solicitar o serviço  e outras informações complementares)</i>, estimated_time (retorna o tempo estimado para realizar o serviço), <i>organ</i>, <i>categories</i> (que representa as categorias que o serviço se enquadra) { possui id e name}, <i>audiences (retorna o público álvo {possui id e name})</i>.</p></p>
				</small>
			</blockquote>
			<span class="label label-default">Filtros para pesquisa mais detalhada na página inicial dos Serviços</span>

			<blockquote style="background-color: white;">
				<small><p>
					A sessão possui filtros para melhorar a busca por informações na api. Pode se fazer filtros por ocorrência de um conjunto de caracteres, é uma pesquisa genérica, pode filtrar por órgão fazendo uso da id do mesmo, filtrar por ocorrência de uma letra ou se o serviço está ativo.</p>

					<p><b>Filtros por ocorrência de um conjunto de caracteres</b> se dá com o uso do parâmetro [q] no endereço dado <i>http://www.servicos.al.gov.br/api/v1/services.json?q=<q>pesquisa_por_subpalavra</q></i>, esta combinação retornará todas as ocorrências que possuam pesquisa_por_subpalavra no seu texto.</p>
					
					<p><b>Filtros por id do órgão</b> há com o endereço <i>www.servicos.al.gov.br/api/v1/services.json?organ_id=<q>id_do_orgao</q></i>, é preciso passar o id do órgão, assim serão retornados os serviços daquele órgão cujo id foi fornecida na url.</p>
					
					<p><b>Filtro através do uso ocorrência de uma letra</b> ocorre com o endereço <i>www.servicos.al.gov.br/api/v1/services.json?letter=<q>letra_de_pesquisa</q></i>, assim serão retornadas as ocorrências da letra fornecida no nome dos srviços.</p>
					
					<p><b>Filtro por ativo</b> retorna a relação dos serviços por estatus de ativo através do endereço <i>www.servicos.al.gov.br/api/v1/services.json?active=<q>true ou false</i></q>.</p>
				</small>
			</blockquote>

		<h3><a href="/api/v1/units.json" target="_blank" style="color: white;">Units.json</a></h3>	
			<small style="text-align: justify-all;">
				A sessão de unidades de atendimento traz uma lista com o <i>id</i> e o <i>name</i> das unidades de atendimento registradas no sistema.
			</small>	
			<h4><a>Descrição das Unidades de Atendimento</a></h4>
			<blockquote style="background-color: white;">
				<small style="text-align: justify-all;"> 
					Com acesso à descrição, no endereço www.servicos.al.gov.br/api/v1/units/"id_da_unidade".json, é possível acesso às chaves <i>id</i>, <i>name</i>, <i>address</i>, <i>phone</i>, <i>email</i>, <i>coordinates {latitude e longitude}</i>, <i>schedules {day, start e end}</i>, <i>permalink</i>,  <i>url</i>, <i>service_ids (retorna os ids dos serviços prestados nesta unidade de atendimentos)</i>, <i>organ</i>. <p>Caso deseje-se um pouco de detalhes dos serviços prestados na determinada unidade selecionada com o id, terá atravez do endereço www.servicos.al.gov.br/api/v1/units/"id_da_unidade".json?<spam style="color: red;">show_services=true</spam>, este endereço fornecerá <i>organ_id</i>, <i>unit_id</i>, <i>services com as listas das chaves {service_id, name, description, categories{id, name}}</i>, esta descrição vem para todos os serviços por tal unidade de atendimento prestados. </p>
				</small>
			</blockquote>
			<br>
			<span class="label label-default">Filtros para pesquisa mais detalhada na página inicial das unidades de atendimento</span>
			<blockquote style="background-color: white;">
				<small><p>
					A sessão possui filtros para melhorar a busca por informações na api. Pode se fazer filtros por ocorrência de um conjunto de caracteres, é uma pesquisa genérica, pode filtrar por órgão fazendo uso da id do mesmo, filtrar por ocorrência de uma letra ou pelo município.</p>

					<p><b>Filtros por ocorrência de um conjunto de caracteres</b> se dá com o uso do parâmetro [q] no endereço dado <i>www.servicos.al.gov.br/api/v1/units.json?q=<q>pesquisa_por_subpalavra</q></i>, esta combinação retornará todas as ocorrências que possuam pesquisa_por_subpalavra no seu texto.</p>
					
					<p><b>Filtros por id do órgão</b> há com o endereço <i>www.servicos.al.gov.br/api/v1/units.json?organ_id=<q>id_do_orgao</q></i>, é preciso passar o id do órgão, assim serão retornados as unidades daquele órgão cujo id foi fornecida na url.</p>
					
					<p><b>Filtro através do uso ocorrência de uma letra</b> ocorre com o endereço <i>www.servicos.al.gov.br/api/v1/units.json?letter=<q>letra_de_pesquisa</q></i>, assim serão retornadas as ocorrências da letra fornecida no nome das unidades de atendimento.</p>
					
					<p><b>Filtro por município</b> retorna a relação das unidades de atendimento por munícipio através do endereço <i>www.servicos.al.gov.br/api/v1/units.json?county=<q>nome_do_município</i></q>.</p>
				</small>
			</blockquote>

		<h3><a href="/api/v1/organs.json" target="_blank" style="color: white;">Organs.json</a></h3>		

			<small style="text-align: justify-all;">
				Os prestadores de serviços, aqui denominados como órgãos, são listados mostrando <i>id</i>, <i>name</i>,<i>active</i>, <i>acronym</i> e <i>nature</i>. 
			</small>
			<h4><a>Descrição dos Órgãos</a></h4>
			<blockquote style="background-color: white;">
				<small style="text-align: justify-all;">
					Para atender à necessidade descritiva dos órgãos o endereço www.servicos.al.gov.br/api/v1/organs/"id_do_orgao".json atende tal requisião com o retorno de <i>id</i>, <i>name</i>, <i>county</i>, <i>address</i>, <i>acronym</i>, <i>phones</i>, <i>emails</i>, <i>image</i>, <i>nature</i>, <i>coordinates{latitude, longitude}</i>, <i>permalink</i>, <i>url</i>, <i>schedules</i>, <i>popular_names</i>, <i>service_ids</i>, <i>units_ids</i>.
				</small>
			</blockquote>
			<span class="label label-default">Filtros para pesquisa mais detalhada na página inicial dos Órgãos</span>
			<blockquote style="background-color: white;">
				<small><p>
					A sessão possui filtros para melhorar a busca por informações na api. Pode se fazer filtros por ocorrência de um conjunto de caracteres, é uma pesquisa genérica, pode filtrar por órgão fazendo uso da id do mesmo, filtrar por ocorrência de uma letra, pelo município, pelo acrônimo e pela natureza do órgão.</p>

					<p><b>Filtros por ocorrência de um conjunto de caracteres</b> se dá com o uso do parâmetro [q] no endereço dado <i>http://www.servicos.al.gov.br/api/v1/organs.json?q=<q>pesquisa_por_subpalavra</q></i>, esta combinação retornará todas as ocorrências que possuam pesquisa_por_subpalavra no seu texto.</p>
					
					<p><b>Filtros através do uso ocorrência de uma letra</b> ocorre com o endereço <i>http://www.servicos.al.gov.br/api/v1/organs.json?letter=<q>letra_de_pesquisa</q></i>, assim serão retornadas as ocorrências da letra fornecida no nome dos órgãos.</p>
					
					<p><b>Filtros pela natureza do órgão</b> retorna a relação dos órgãos por munícipio através do endereço <i>http://www.servicos.al.gov.br/api/v1/organs.json?nature=<q>natureza_do_orgao</i></q>.</p>

					<p><b>Filtros por Acrônimos</b> o órgão representado por dado acrônimo através do endereço <i>http://www.servicos.al.gov.br/api/v1/organs.json?acronym=<q>acronimo</i></q>.</p>

				</small>
			</blockquote>
		<h3><a href="/api/v1/centers.json" target="_blank" style="color: white;">Centers.json</a></h3>		
			<small style="text-align: justify-all;">
				As centrais Já! reune unidades de atendimentos de divérsos órgãos e que atende à sociedade com diversos serviços, estas centrais Já! são listadas no sistema com <i>id</i> e <i>name</i>.
			</small>
			<h4><a>Descrição das Centrais de Atendimento Já!</a></h4>
			<blockquote style="background-color: white;">
				<small style="text-align: justify-all;">
					Cada uma das centrais já! são descritas com <i>id</i>, <i>name</i>, <i>address</i>, <i>phones</i>, <i>email</i>, <i>coordinates</i>, <i>schedules</i>, <i>permalink</i>, <i>url</i>, <i>units</i>, <i>services_units</i>, através do endereço www.servicos.al.gov.br/api/v1/centers.json. Para ter as informações de cada uma das centrais já! individualmente usa o endereço www.servicos.al.gov.br/api/v1/centers/"id_da_central".json.
				</small>
			</blockquote>
		
	</div>
</div>


