<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active">Arquivos</li>
</ol>
  <h1 style="font-weight: bold; color: white">Capacitações</h1>
  <div class="col-md-9 col-sm-9 col-xs-8" >
  	<a href="/Planilha de Cadastramento de Servicos - v2(1).xlsx" style="text-decoration: none;color: white"><h2>Planilha de Cadastramento de Servicos - v2.xlsx</h2></a><br>
  	<a href="/Capacitações/capacitação 1º grupo/Capacitação Conceitual/1º Capacitação 17 01 2017.pptx" style="text-decoration: none; color: white"><h2>Capacitações</h2></a>
  </div>	