<ol class="breadcrumb">
  <li class="breadcrumb-item active">Início</li>
</ol>

<div class="row" ng-controller="HomeIndexController">
  <div class="col-md-12">
    <h1 class="home-title text-center" >Os serviços do Governo de Alagoas catalogados num só lugar</h1>
  </div>
  <div class="col-md-12 ">
    <div class="box-search visible-sm visible-xs ">
      <input type="text" class="form-control" placeholder="Buscar por serviços" ng-model="q">
    </div>
  </div>

  <div class="col-md-3 visible-lg visible-md visible-sm  visible-xs col-sm-3 col-xs-4">
    <%= render 'shared/menu' %>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-8">
    <div class="box-search visible-lg visible-md">
      <input type="text" class="form-control" placeholder="Buscar por serviços" ng-model="q">
    </div>
    <div ng-if="q == null"><h3 class="home-subtitle text-center">{{tam.length}} Serviços disponíveis</h3></div>
    <div ng-if="q.length == 0"><h3 class="home-subtitle text-center">{{tam.length}} Serviços disponíveis</h3></div>
    <div ng-if="q.length > 0"><h3 class="home-subtitle text-center"> {{services.length}} Serviços disponíveis para "{{q}}"</h3></div>
    
    <div class="row" cg-busy="{promise: servicesPromise, message: 'Carregando..'}">
      <div class="col-md-4" ng-repeat="service in services | orderBy : 'date'" >
          <div class="service-item">
            <a href="{{ service.url }}">
              <h4 style="text-align: justify-all;">{{ service.name }}</h4>
            </a>
            <div class="clearfix"></div>
            <a class="btn btn-default btn-sm" href="{{ service.url }}">
              Ver mais
            </a>
            <div class="clearfix"></div>
            <br>
            
            <div ng-repeat="category in service.categories">

              <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
              </a>
            </div>
          </div>
      </div>
    </div>

    <div class="text-center">
      <span class="badge">Página {{ page }}</span>

      <div class="clearfix"></div>

      <ul class="pagination">
        <li>
          <a rel="prev" href="" ng-click="loadPaginate(0, null)">
            &laquo; Anterior
          </a>
        </li>
        <li ng-repeat="page in [] | range: total_pages" ng-click="loadPaginate(null, page)">
          <a rel="next" href="">{{ page }}</a>
        </li>
        <li>
          <a rel="next" href="" ng-click="loadPaginate(1, null)">
            Próximo &raquo;
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>