<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div ng-controller="HomeIndexController" >
    
  <script>
    $( function() {
      var availableTags = [<%@s.each do |service|%>
        '<%=service.name%>',
      <%end%>];
      
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
  </script>

  <img src="http://186.249.51.81/assets/layout/logo_guia(1).png" style="width: 25%;" align="center" alt="Guia de Serviços de Alagoas logomarca" title="Guia de Serviços de Alagoas logomarca">
    <h1 align="center" style="color:white; font-weight: bold; position: relative; top:-5%;font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;" class="title_hight">Os serviços do Governo de Alagoas catalogados num só lugar</h1>
      <div style="position: relative;top: -5%">
        <h3 class="services_title" style="color: white; font-weight: bold;">{{ tam.length }} Serviços   disponíveis</h3>
      </div>
    <div class="container ">

      <div class="row">
        <div id="custom-search-input" >
          <div class="input-group col-md-8" style="position: relative; left: 15%;">
            <input type="text" class="form-control input-lg" id="tags" placeholder="Busque aqui o serviço que você precisa" ng-model="q" />
            <span class="input-group-btn">
              <button class="btn btn-lg" type="button" style="color: rgb(83, 114, 219);" >
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>
    
    <br>
    <div ng-if="q!=null && q.length > 0">  
      <br>
      <div class="col-md-9 col-lg-10 col-xl-10" style="background-color: rgba(9, 40, 126, 0.78); border-radius: 8px; left: 9%;" >  
        <h2 style="color: white;">Foram encontrados {{services.length}} registros referentes a busca por {{q}}</h2>

      </div>

      <div class="container" cg-busy="{promise: servicesPromise, message: 'Aguarde...'}">

        <div class="col-md-4 col-sm-6 col-4 col-lg-4 col-xl-4" ng-repeat="service in services | filter: q" >
        <br>
          <div class="service-item">
            <a href="{{ service.url }}">
              <h4 style="text-align: justify-all;">{{ service.name }}</h4>
            </a>
            <div class="clearfix"></div>
            <a class="btn btn-default btn-sm" href="{{ service.url }}">
              Ver mais
            </a>
            
            <br>
            
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Categorias</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Categorias</h4>
                    </div>
                    <div class="modal-body">
                      <div  ng-repeat="category in service.categories">

                        <a href="/categoria/{{ category.permalink }}" style="text-decoration: none;">
                          <span class="label label-primary" style="background: {{ category.color }}">{{ category.name }}</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
   <br />
   <br />
</div>
 