<div style="background-image: url(/assets/layout/n_image_f.png);color: white;background-repeat: no-repeat;margin-top: -10%; position: relative; background-size: cover;">
  
      <!-- <img src="/assets/layout/logo_guia.png" style="width: 100%;position: relative; margin-top: 10%; /> -->
      <img src="/assets/layout/logo_guia.png" style="width: 50%; margin-top: 5%; margin-left: 30%; margin-bottom: 10%">
      
      <div class="container">
        <div class="row"">
          <div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 15%;">
            <div id="imaginary_container"> 
              <div class="input-group stylish-input-group" style=" margin-top: -10%;">
                
                 <input class="form-control input-lg" id="inputlg" type="text" placeholder="Buscar">
                  <span class="input-group-addon" style="padding:0%; ">
                    <button type="submit" style=" color: rgb(162, 18, 31);">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>  
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div> 
     <br />
     <br />
  <img src="/assets/layout/mapa.png">   
  </div>
  