
  <div style="background-image: url(/assets/layout/n_image_f.png);color: white;background-repeat: no-repeat; width: 100%; z-index: 5;margin-top: -10%; ">
    <img src="/assets/layout/logo_guia.png" style="margin-bottom: 50%;left: 35%; position: relative; margin-top: 10%;" />
  </div>
