<h3>Público alvo</h3>

<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>
<hr>

<a class="btn btn-primary" href="/admin/audiences/new">Adicionar novo</a>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_audiences.each do |admin_audience| %>
      <tr>
        <td><%= admin_audience.name %></td>
        <td><span class="label label-<%= (admin_audience.active) ? 'success' : 'danger' %>">Ativo</td>
        <td><a href="<%= edit_admin_audience_path admin_audience %>">Editar</a></td>

        <td><%= link_to 'Remover', admin_audience, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>