
<%= simple_form_for @admin_category, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input  :name, label: 'Nome' , :required => true%>
   
  <div class="col-sm-offset-3 col-sm-9">	
  	<%= f.input :icon,label: 'Ícone', :collection => [['* asterísco','glyphicon glyphicon-asterisk'],['+ adição','glyphicon glyphicon-plus'],['- subtração','glyphicon glyphicon-minus'],['€ euro','glyphicon glyphicon-eur'],['☁ núvem','glyphicon glyphicon-cloud'],['✉ carta','glyphicon glyphicon-envelope'],['✏ caneta','glyphicon glyphicon-pencil'],[' taça','glyphicon glyphicon-glass'], [' música','glyphicon glyphicon-music'], [' busca','glyphicon glyphicon-search'], [' coração','glyphicon glyphicon-heart'],['Estrela','glyphicon glyphicon-star'], ['usuário','glyphicon glyphicon-user'],['filme','glyphicon glyphicon-film'],['engrenagem','glyphicon glyphicon-cog'],['lixeira','glyphicon glyphicon-trash'],['casa','glyphicon glyphicon-home'], ['documento','glyphicon glyphicon-file'], ['câmera','glyphicon glyphicon-camera'],['árvore','glyphicon glyphicon-leaf'], ['fogo','glyphicon glyphicon-fire'], ['avião','glyphicon glyphicon-plane'], ['carrinho de mercado','glyphicon glyphicon-shopping-cart'], ['hd','glyphicon glyphicon-hdd'], ['globo terrestre','glyphicon glyphicon-globe'], ['educação','glyphicon glyphicon-education']] %>		
  	<%= f.input  :active, as: :boolean, label: 'Ativo' , :required => true%>
  </div>
  <hr>
  <button  class="btn btn-success pull-right">Salvar</button>
<% end %>
