<h1>Categoria</h1>
<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>

<%= render 'form' %>

<%= link_to 'Voltar', admin_categories_path, class: 'btn btn-info' %>

