<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active">Unidades de atendimento </li>
</ol>
<div ng-controller="UnitsIndexController" ng-init="views = true" >
  <div >
    <spam>Mostrar mapa?</spam>
    <input type="checkbox" ng-model="views" id="1" checked="checked" />
    <label for="someSwitchOptionDefault" class="label-primary"></label>
  </div>  
  <div ng-if="views == true">
    <div class="row" > 
      <h3 class="col-md-12" style="color: white; font-weight: bold;"><%=@u.length%> Unidades de Atendimento Listadas no mapa</h3>
      <div class="col-md-8">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDij4Z3AFhetKwsKd9dP6gd0jPceh4Y70I&callback=initMap"></script>
        <script>

        function initMap() {

              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: { lat: -9.6498, lng: -36.6640 }
              });
              var infoWin = new google.maps.InfoWindow();
              var geocoder = new google.maps.Geocoder();
              $("#dropdown").change(function() {
                address = $("#dropdown :selected")[0].text;
                geocodeAddress(address, geocoder, map);
              });
              var address = $("#dropdown :selected")[0].text;
              geocodeAddress(address, geocoder, map);
             


              var markers = locations.map(function(location, i) {
                var marker = new google.maps.Marker({
                  position: location
                });
                google.maps.event.addListener(marker, 'click', function(evt) {
                  infoWin.setContent(location.info);
                  infoWin.open(map, marker);
                })
                return marker;
              });

              // markerCluster.setMarkers(markers);
              // Add a marker clusterer to manage the markers.
              var markerCluster = new MarkerClusterer(map, markers, {
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
              });

                google.maps.event.addListener(markerCluster, "click", function (c) {
                log("click: ");
                log("&mdash;Center of cluster: " + c.getCenter());
                log("&mdash;Number of managed markers in cluster: " + c.getSize());
                var m = c.getMarkers();
                var p = [];
                for (var i = 0; i < m.length; i++ ){
                  p.push(m[i].getPosition());
                }
                log("&mdash;Locations of managed markers: " + p.join(", "));
                
              });
              google.maps.event.addListener(markerCluster, "mouseover", function (c) {
                log("mouseover: ");
                log("&mdash;Center of cluster: " + c.getCenter());
                log("&mdash;Number of managed markers in cluster: " + c.getSize());
              });
              google.maps.event.addListener(markerCluster, "mouseout", function (c) {
                log("mouseout: ");
                log("&mdash;Center of cluster: " + c.getCenter());
                log("&mdash;Number of managed markers in cluster: " + c.getSize());
              });
            }
           function log(h) {
             document.getElementById("log").innerHTML += h + "<br />";
            }
            
            var locations = 
              [<%@u.each do |unit|%>
              { lat:<%=unit.coordinates[:latitude] %>, lng: <%=unit.coordinates[:longitude] %>,info: '<div id="content">'+'<div id="siteNotice">'+
                    '</div>'+'<h1 id="firstHeading" class="firstHeading"><%=unit.name%></h1>'+
                    '<div id="bodyContent">' +'<p>Acesse, <a href="unidade-de-atendimento/<%=unit.permalink%>">'+
                    '<%=unit.name%></a> '+'Serviços ativos <%=unit.services.length%>.</p>'+
                    '</div>'+'</div>',},
               <%end%>]
            google.maps.event.addDomListener(window, "load", initMap);
          
          function geocodeAddress(address, geocoder, resultsMap) {
            //document.getElementById('info').innerHTML = address;
            geocoder.geocode({
              'address': address
            }, function(results, status) {
              if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.fitBounds(results[0].geometry.viewport);
                //document.getElementById('info').innerHTML += "<br>" + results[0].geometry.location.toUrlValue(6);
              } 
            });
          }
                
        </script> 

        <div class="col-md-12 col-sm-12 col-lg-12 form-group">

          <select id="dropdown" class="form-control" style="position: relative; left: 30%;">
            <option value="1" selected>Alagoas</option>
            <option value="2">Água Branca - State of Alagoas</option>
            <option value="3">Anadia, State of Alagoas</option>
            <option value="4">Arapiraca - State of Alagoas</option>
            <option value="5">Atalaia - State of Alagoas</option>
            <option value="6">Barra de Santo Antônio - State of Alagoas</option>
            <option value="7">Barra de São Miguel</option>
            <option value="8">Batalha - State of Alagoas</option>
            <option value="9">Belém - State of Alagoas</option>
            <option value="10">Belo Monte - State of Alagoas</option>
            <option value="11">Boca da Mata - State of Alagoas</option>
            <option value="12">Branquinha - State of Alagoas</option>
            <option value="13">Cacimbinhas - State of Alagoas</option>
            <option value="14">Cajueiro - State of Alagoas</option>
            <option value="15">Campestre - State of Alagoas</option>
            <option value="16">Campo Alegre - State of Alagoas</option>
            <option value="17">Campo Grande - State of Alagoas</option>
            <option value="18">Canapi - State of Alagoas</option>
            <option value="19">Capela - State of Alagoas</option>
            <option value="20">Carneiros - State of Alagoas</option>
            <option value="21">Chã Preta - State of Alagoas</option>
            <option value="22">Coité do Nóia - State of Alagoas</option>
            <option value="23">Colônia Leopoldina - State of Alagoas</option>
            <option value="24">Coqueiro Seco - State of Alagoas</option>
            <option value="25">Coruripe - State of Alagoas</option>
            <option value="26">Craíbas - State of Alagoas</option>
            <option value="27">Delmiro Gouveia - State of Alagoas</option>
            <option value="28">Dois Riachos - State of Alagoas</option>
            <option value="29">Estrela de Alagoas - State of Alagoas</option>
            <option value="30">Feira Grande - State of Alagoas</option>
            <option value="31">Feliz Deserto - State of Alagoas</option>
            <option value="32">Flexeiras - State of Alagoas</option>
            <option value="33">Girau do Ponciano - State of Alagoas</option>
            <option value="34">Ibateguara - State of Alagoas</option>
            <option value="35">Igaci - State of Alagoas</option>
            <option value="36">Igreja Nova - State of Alagoas</option>
            <option value="37">Inhapi - State of Alagoas</option>
            <option value="38">Jacaré dos Homens - State of Alagoas</option>
            <option value="39">Jacuípe - State of Alagoas</option>
            <option value="40">Jaramataia - State of Alagoas</option>
            <option value="41">Jequiá da Praia - State of Alagoas</option>
            <option value="42">Joaquim Gomes - State of Alagoas</option>
            <option value="43">Jundiá - State of Alagoas</option>
            <option value="44">Junqueiro - State of Alagoas</option>
            <option value="45">Lagoa da Canoa - State of Alagoas</option>
            <option value="46">Limoeiro de Anadia - State of Alagoas</option>
            <option value="47">Maceió - State of Alagoas</option>
            <option value="48">Major Isidoro - State of Alagoas</option>
            <option value="49">Mar Vermelho - State of Alagoas</option>
            <option value="50">Maragogi - State of Alagoas</option>
            <option value="51">Maravilha - State of Alagoas</option>
            <option value="52">Marechal Deodoro - State of Alagoas</option>
            <option value="53">Maribondo - State of Alagoas</option>
            <option value="54">Mata Grande - State of Alagoas</option>
            <option value="55">Matriz de Camaragibe - State of Alagoas</option>
            <option value="56">Messias - State of Alagoas</option>
            <option value="57">Minador do Negrão - State of Alagoas</option>
            <option value="58">Monteirópolis - State of Alagoas</option>
            <option value="59">Murici - State of Alagoas</option>
            <option value="60">Novo Lino - State of Alagoas</option>
            <option value="61">Olho d'Água das Flores - State of Alagoas</option>
            <option value="62">Olho d'Água do Casado - State of Alagoas</option>
            <option value="63">Olho d'Água Grande - State of Alagoas</option>
            <option value="64">Olivença - State of Alagoas</option>
            <option value="65">Ouro Branco - State of Alagoas</option>
            <option value="66">Palestina - State of Alagoas</option>
            <option value="67">Palmeira dos Índios - State of Alagoas</option>
            <option value="68">Pão de Açúcar - State of Alagoas</option>
            <option value="69">Pariconha - State of Alagoas</option>
            <option value="70">Paripueira - State of Alagoas</option>
            <option value="71">Passo de Camaragibe - State of Alagoas</option>
            <option value="72">Paulo Jacinto - State of Alagoas</option>
            <option value="73">Penedo - State of Alagoas</option>
            <option value="74">Piaçabuçu - State of Alagoas</option>
            <option value="75">Pilar - State of Alagoas</option>
            <option value="76">Pindoba - State of Alagoas</option>
            <option value="77">Piranhas - State of Alagoas</option>
            <option value="78">Poço das Trincheiras - State of Alagoas</option>
            <option value="79">Porto Calvo - State of Alagoas</option>
            <option value="80">Porto de Pedras - State of Alagoas</option>
            <option value="81">Porto Real do Colégio - State of Alagoas</option>
            <option value="82">Quebrangulo - State of Alagoas</option>
            <option value="83">Rio Largo - State of Alagoas</option>
            <option value="84">Roteiro - State of Alagoas</option>
            <option value="85">Santa Luzia do Norte - State of Alagoas</option>
            <option value="86">Santana do Ipanema - State of Alagoas</option>
            <option value="87">Santana do Mundaú - State of Alagoas</option>
            <option value="88">São Brás - State of Alagoas</option>
            <option value="89">São José da Laje - State of Alagoas</option>
            <option value="90">São José da Tapera - State of Alagoas</option>
            <option value="91">São Luís do Quitunde - State of Alagoas</option>
            <option value="92">São Miguel dos Campos - State of Alagoas</option>
            <option value="93">São Miguel dos Milagres - State of Alagoas</option>
            <option value="94">São Sebastião - State of Alagoas</option>
            <option value="95">Satuba - State of Alagoas</option>
            <option value="96">Senador Rui Palmeira - State of Alagoas</option>
            <option value="97">Tanque d'Arca - State of Alagoas</option>
            <option value="98">Taquarana - State of Alagoas</option>
            <option value="99">Teotônio Vilela - State of Alagoas</option>
            <option value="100">Traipu - State of Alagoas</option>
            <option value="101">União dos Palmares - State of Alagoas</option>
            <option value="102">Viçosa - State of Alagoas</option>

          </select>
          <a type="button" data-toggle="modal" data-target="#myModal" style="text-decoration: none; cursor: pointer; color: white;position: relative;bottom: 33px;left: 83%;font-size: 24px;">  ?</a><div id="info"></div>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Distribuição das Unidades de Atendimento dos diversos órgãos do governo de Alagoas e seus parceiros em seu território</h4>
                </div>
                <div class="modal-body">
                  <p><b>O mapa</b></p>
                  <blockquote>A versão de apresentação com mapas tem o intuito de orientar o usuário ao mostrar o local das unidades de atendimento. Estão listadas todas as <%=@u.length%> unidades de atendimento ativas no Guia de Serviços de Alagoas. O uso no modo de aprensentação com mapa propociona ao cidadão a navegabilidade pelas cidades do estado e assim apresenta, distintamente, as unidades em cada um dos 102 municípios.</blockquote>
                  <blockquote>As unidades estão sendo apresentadas por conjuntos de pontos, cada ponto representa sua localização no território de Alagoas, de uma visão superficial é possível juntar pontos próximos e formar um conjunto maior chamado de cluster. Estes clusteres variam de cores em quantidades, do azul (menor quantidade) até o vermelho (maior quantidade). Ao clicar nos clusteres serão exibidas os pontos onde estão referenciadas as unidades de atendimento. </blockquote>
                  <blockquote>Uma vez clicado em cima de um ponto, unidade de atendimento, é mostrada da descrição de cada unidade de atendimento com o link para acessar a página de descrição de cada unidade de atendimento.</blockquote>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div> 
    <div id="map" style="width: 100%;height: 817px; position: relative; bottom: 35px; margin-bottom: -50px;"></div>
  </div>    
</div>
  <div ng-if="views == false">
    
  <style type="text/css">
 .material-switch > input[type="checkbox"] {
      display: none;
  }

  .material-switch > label {
      cursor: pointer;
      height: 0px;
      position: relative; 
      width: 40px;  
  }
  .material-switch > label::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position:absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
  }
  .material-switch > label::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
  }
  .material-switch > input[type="checkbox"]:checked + label::before {
      background: inherit;
      opacity: 0.5;
  }
  .material-switch > input[type="checkbox"]:checked + label::after {
      background: inherit;
      left: 20px;
  }
</style>  

<div class="col-md-10 col-lg-10 col-xs-12 col-xl-12" ng-controller="UnitsIndexController" style="position: relative; left: 10%;">
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box-search visible-md visible-lg visible-sm visible-xs" style="width: 96%;">
      <input type="text" class="form-control" placeholder="Buscar por unidade de atendimento" ng-model="q">
    </div>
    
    <div class="col-sm-12">
      <div class="col-sm-5">
        <label >Unidades de Atendimento por órgão</label>
        <div class="form-group" >
          <select ng-model="organ_id" class="form-control">
            <option value="">Filtrar por orgão</option>
            <% @organs.each do |organ| %>
              <option value="<%= organ.id %>"><%= organ.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="col-sm-5 pull-right"><label >Mostrar por ordem</label>
        <div class="btn-group pull-right" style="display: -webkit-inline-box;">
          <form>
            <div class="col-sm-4">
              <div class="material-switch">
                <input id="someSwitchOptionDefault"  type="checkbox" name="ordem" ng-model="check" id="1"/>
                <label for="someSwitchOptionDefault" class="label-primary"></label>
              </div>
            </div>
            <div class="col-sm-4 pull-right">
              <div class="material-switch">
                <input type="checkbox" name="ordem" id='2' ng-model="view" />
                <label for='2' class="label-primary"></label>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="col-sm-6 col-md-6" ng-if='!check'>
                <span class="label label-primary ng-binding">Crescente</span>
              </div>
              <div class="col-sm-6 col-md-6" ng-if='check'>
                <span class="label label-primary ng-binding">Decrescente</span>
              </div>
              <div class="col-sm-6 col-md-6" ng-if='!view'>
                <span class="label label-primary ng-binding">Novos</span>
              </div>
              <div class="col-sm-6 col-md-6" ng-if='view'>
                <span class="label label-primary ng-binding">Últimas atualizações</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div ng-if='check || view'>
      <button onclick="LimpaFiltros()" class="btn btn-sm" >Limpar Filtros</button>
    </div>
     <script>
        var che= document.getElementById('');
        function LimpaFiltros() {
            location.reload();
        }
     </script>
    <div class="text-center" >
      <nav aria-label="Page navigation">
        <ul class="pagination" style="position: relative; right: 2%;">
          <li ng-repeat="letter in alphabet" ng-click="byLetter(letter)">
            <a rel="next" href="">{{ letter }}</a>
          </li>
        </ul>
      </nav>
    </div>
    
    <div ng-if="q == none && organ_id==none"><h2 class="home-title text-center" style="color: white">{{units.length}} Unidades Disponíveis</h2></div>

    <div ng-if="q == none && organ_id"><h2 class="home-title text-center" style="color: rgb(162, 18, 31)">{{units.length}} Unidades Disponíveis</h2></div>
    <div ng-if="q!=none"><h2 class="home-title text-center" style="color: rgb(162, 18, 31)">{{units.length}} Unidades Disponíveis</h2></div>

    <div ng-if="check == none && view == none" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '+name'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left; height: 150px; max-height: 150px;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>


    <div ng-if="check == true && view == none" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '-name'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="check == false && view == none" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '+name'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="check==none && view==true" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '-id'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div> 
    </div>  

    <div ng-if="check==none && view==false" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '+id'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>  


    <div ng-if="check==true && view==false" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '+id'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div ng-if="check==false && view==false" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '-id'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div ng-if="check==true && view==false" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '-id'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div ng-if="check==true && view==true" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '-id'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div ng-if="check==false && view==true" style="position: relative; left: 7%;">
      <div ng-repeat="unit in units |  orderBy : '-id'" ng-if="unit.active">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12" style="float: left;">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><a href="{{unit.url}}" style="text-decoration: none;">{{unit.name}}</a></div>
              <div class="panel-body">{{unit.services.length}} Serviços</div>  
            </div>
          </div>
        </div>
      </div>
    </div>  

    
    <div class="text-center col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <span class="badge">Página {{ page }}</span>

      <ul class="pagination">
        <li>
          <a rel="prev" href="" ng-click="loadPaginate(0, null)">
            &laquo; Anterior
          </a>
        </li>
        <li ng-repeat="page in [] | range: total_pages" ng-click="loadPaginate(null, page)">
          <a rel="next" href="">{{ page }}</a>
        </li>
        <li>
          <a rel="next" href="" ng-click="loadPaginate(1, null)">
            Próximo &raquo;
          </a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


</div>