<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item"><a href="/unidades-de-atendimento">Unidades de atendimento</a></li>
  <li class="breadcrumb-item active"><%= @unit.name  %></li>
</ol>

<div class="col-md-10 col-lg-10 col-xs-12 col-xl-12" ng-controller="OrgansIndexController" style="position: relative;left: 5%; background-color: rgba(7, 10, 20, 0.7); margin-bottom: 5%;">
  <div class="col-md-10 service-show col-sm-10 col-xs-8 col-lg-12">
    <div class="row">
      <div class="col-md-12">
        <h2 class="style_head" style="color: white;"><%= @unit.name %></h2>
        
      </div>

      <div class="col-md-8">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDij4Z3AFhetKwsKd9dP6gd0jPceh4Y70I&callback=initMap"></script>
        <script>
          function initMap() {
            var myLatLng = { lat: <%= @unit.coordinates[:latitude] %>, lng: <%= @unit.coordinates[:longitude] %> };

            var map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
              scrollwheel: false,
              zoom: 15
            });

            var marker = new google.maps.Marker({
              map: map,
              position: myLatLng
            });
          };
        </script>
        <div id="map" style="width: 100%; height: 200px; margin-bottom: 10px;"></div>
      </div>   
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-right" style="position: relative;">
          
          <img src="<%= @unit.organ.attachment %>" class="img-thumbnail" alt="Guia de Serviços <%= @unit.organ.name %>" title ="Guia de Serviços <%= @unit.organ.name %>">
        </div>

      <div class="col-md-6" style="color: white;"">
        <h3>
          <i class="fa fa-info-circle" aria-hidden="true" ></i> Informações
        </h3>

        <blockquote style="font-size: 14px;">
          <p><span style="font-weight: bold;">Endereço:</span> <%= @unit.address %></p>
          <p><span style="font-weight: bold;">Telefones:</span> <%= @unit.phones %></p>
          <p><span style="font-weight: bold;">Email:</span> <%= @unit.email %></p>
        </blockquote>
      </div>

      <div class="col-md-6" style="color: white;">
        <h3>
          <i class="fa fa-clock-o" aria-hidden="true"></i> Horário de Funcionamento
        </h3>

        <% if !@unit.schedules.blank? && @unit.schedules.size > 0 %>
          <blockquote style="font-size: 14px;">
            <table width="100%">
              <thead>
                <tr>
                  <th></th>
                  <th>Início </th>
                  <th>Fim</th>
                </tr>
              </thead>
              <tbody>
                <% @unit.schedules.each do |schedule| %>
                  <tr>
                    <td>
                      <% if schedule[:day] == "monday" %>
                        <b><em>Segunda-feira</em></b> 
                      <% end %>
                      <% if schedule[:day] == "tuesday" %>
                        <b><em>Terça-feira</b></em>
                      <% end %>
                      <% if schedule[:day] == "wednesday" %>
                        <b><em>Quarta-feira</b></em>
                      <% end %>
                      <% if schedule[:day] == "thursday" %>
                        <b><em>Quinta-feira</b></em>
                      <% end %>
                      <% if schedule[:day] == "friday" %>
                        <b><em>Sexta-feira</b></em>
                      <% end %><br>
                      <% if schedule[:day] == "saturday" %>
                        <b><em>Sábado</b></em>
                      <% if schedule[:day] == "sunday" %>
                        <b><em>Domingo</b></em>
                      <% end %><br>
                      <% end %><br>
                    </td>
                    <td><%= schedule[:start] %></td>
                    <td><%= schedule[:end] %></td>
                  </tr> 
                <% end %>      
              </tbody>
            </table>
          </blockquote>
        <% end %>
      </div>
      
      <div class="col-md-12" style="color: white;">
        <h3 class="title-header"><i class="fa fa-bars" aria-hidden="true"></i>  Serviços <span class="badge"><%=@service_activ%></span></h3>
                <ul class="list-group" style="float: left;" >
            <% @unit.services.each do |service| %>
              <% if service.active %>
                <li class="list-group-item" style="text-align: left;">
                  <a href="<%= service.url %>" style="text-decoration: none;">
                    <%= service.name %> <span class="label label-primary"></span>
                  </a>        
                </li>
              <% end %>
            <% end %>
          </ul>

        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
