
<div class="col-md-12">
	<form name="centerForm" novalidate>
		<div class="form-group">
			<label class="control-label" for="">Nome<span>*</span></label>
			<input class="form-control" type="text" ng-model="center.name" required>
		</div>
		<label class="control-label" for="">Unidades de Atendimento<span>*</span></label>
		<div style="overflow:auto; color:#000000; width:550px; height: 150px; line-height:100%"> 
		<div class="well">	
			<div class="checkbox" ng-repeat="unit in units">
		    <label>
		      <input type="checkbox" checklist-model="center.unit_ids" checklist-value="unit.id" ng-required="center.unit_ids.length==0" > {{ unit.name }}
		    </label>
		  </div>
		</div>
		</div>
		<br />
		<div class="form-group">
			<label class="control-label" for="">Telefones</label>
			<input class="form-control" type="text" ng-model="center.phones">
		</div>
		<div class="form-group">
			<label class="control-label" for="">E-mail</label>
			<input class="form-control" type="text" ng-model="center.email">
		</div>
		<div class="form-group">
			<label class="control-label" for="">Endereço Principal<span>*</span></label>
			<input class="form-control" type="text" ng-model="center.address" required>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>Horários</h4>
			</div>
			<div class="clearfix" ng-repeat="schedule in center.schedules">
				<div class="col-md-2">
					<div class="form-group">
						<select class="form-control" ng-model="schedule.day">
							<option value="">Selecione o dia</option>
							<option value="sunday">Domingo</option>
							<option value="monday">Segunda</option>
							<option value="tuesday">Terça</option>
							<option value="wednesday">Quarta</option>
							<option value="thursday">Quinta</option>
							<option value="friday">Sexta</option>
							<option value="saturday">Sábado</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Início" ng-model="schedule.start">	
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Fim" ng-model="schedule.end">	
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<button class="btn btn-danger" ng-click="removeSchedule(schedule)"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-success" ng-click="addSchedule()"><i class="fa fa-plus"></i></button>
		<hr>
		<div class="well">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" events="map_events">
				<ui-gmap-marker idkey="123" coords="center.coordinates" options="{ draggable: true }" events="marker_events"></ui-gmap-marker>
			</ui-gmap-google-map>
		</div>
		<hr>
		</div>
		<button class="btn btn-success pull-right" ng-click="save()" ng-disabled="centerForm.$invalid">Salvar</button>
	</form>
</div>

