<h3>Centrais de Atendimento</h3>

<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>

<hr>


<a class="btn btn-primary" href="<%= new_admin_center_path %>">Adicionar novo</a>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Permalink</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% @admin_centers.each do |admin_center|%>
      <tr>
        <td><%= admin_center.name %></td>
        <td><%= admin_center.permalink %></td>
        
        <td><a href="<%= edit_admin_center_path(admin_center) %>">Editar</a></td>

        <td><%= link_to 'Remover', admin_center, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>