<h3>Central de atendimento</h3>
<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>

<hr>

<div ng-controller="CentersNewController">
	<%= render 'form' %>
</div>

<%= link_to 'Voltar', admin_centers_path, class: 'btn btn-info' %>