body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 60px;
}

h3.form-section {
	padding: 15px 0;
	margin: 15px 0;
}

.radio {
	label {
		font-size: 14px;
		font-weight: 500;
	}
}

.ngdialog-content {
	display: table;
}

.angular-google-map-container { 
	height: 400px; 
}

.well-white {
	background-color: #FFFFFF;
}
