.header-top {
  background-image: url("http://www.agenciaalagoas.al.gov.br/templates/design_control/images/header_bg.png");
  height: 65px;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #0075d0;
  font-weight: 600;
  font-size: 16px;
}

.box-logo {
  line-height: 65px;
}

.box-logo {
  img {
    vertical-align: middle;
    margin-left: 15px;
  }
}

.box-title {
  h2 {
    color: white;
    margin: 12px 0 5px 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
  }
  h3 {
   color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
  }
}

div.box-slogan {
  span.t1 {
    font-size: 18px;
    font-weight: 600;
  }
  span.t2 {
    font-size: 16px;
    font-weight: 400;
  }
}

ul.menu-left {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 10px;
    &:first-child {
      background-color: #941616;
      color: white;
      font-weight: 600;
      font-size: 12px;
    }
    a {
      display: inline-block;
      width: 100%;
      line-height: 30px;
    }
  }
}

.circle {
  background: #0080c0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 3px 3px 3px 4px;
  float: left;
  margin-right: 5px;
}

h1.home-title {
  color: #a2121f;
  font-weight: 500;
  margin: 0 0 30px 0;
}

h2.home-title {
  color: #a2121f;
  font-weight: 500;
  margin: 0 0 30px 0;
}


h3.home-subtitle {
  color: #a2121f;
  font-weight: 500;
  margin-bottom: 30px;
}

.box-search {
  padding: 15px;
  background-color: #eee;
  margin: 0 0 30px 0;
  input {
    height: 40px;
    font-size: 16px;
  }
}

.service-item {
  background-color: #eeeeee;
  text-align: center;
  padding: 15px 15px;
  margin-bottom: 30px;
  img {
    margin-bottom: 15px;
  }
  a {
    h4 {
      display: inline-block;
      margin: 0 0 15px 0;
      color: #a2121f;
    }
  }
}

.letters {
  display: inline-block;
  ul {
    padding: 0;
    list-style: none;
    li {
      float: left;
      padding: 3px 6px;
      background-color: #eeeeee;
      margin-right: 5px;
    }
  }
}

ul.list-item {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 20px;
    a {
      font-size: 16px;
      text-decoration:none;
    }
  }
}

footer {
  background-color: #a2121f;
  min-height: 270px;
  width: 100%;
  padding-top: 30px;
  color: white;
  margin-top: 30px;
}

div.footer-logo img {
  float: left;
  margin-right: 10px;
}

div.footer-logo span.t1 {
  font-size: 18px;
  font-weight: 600;
}

div.footer-logo span.t2 {
  font-size: 16px;
  font-weight: 400;
}

ul.footer-list {
  list-style-type: none;
  a {
    color: white;
  }
}

.service-show h3 {
  color: #A2121F;
  font-size: 22px;
}

ul.step-items {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 15px 0;
  li {
    margin-bottom: 15px;
    .step-description {
      margin-left: 35px;
    }
  }
  h4 {
    font-size: 18px;
    padding: 6px 0;
    margin: 0 0 10px 0;
  }
}

.unit-show {
  h3 {
    color: #A2121F;
    font-size: 22px;
  }
}

.content.active {
  display:block;
}
.content {
  display:none;
}

