<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active"><%=@category.name%> </li>
</ol>

<div class="row">
	<div class="col-md-3">
		<%= render 'shared/menu' %>
	</div>

	<div class="col-md-9">
    <h3 class="home-subtitle text-center">Serviços por Categoria</h3>
    <div class="row">
      <%@services.each do |service|%>
	      <div class="col-md-4">
	    		<div class="service-item">
	          <a href="<%=service.url%>">
	            <h4><%=service.name%></h4>
	          </a>
	          <div class="clearfix"></div>
	          <a class="btn btn-default btn-sm" href="<%=service.url%>">
	            Ver mais
	          </a>
	          <div class="clearfix"></div>
	          <br>
	          <%service.categories.each do |category|%>
		          <a style="text-decoration: none">
		            <span class="label label-primary" style="background: <%=category.color%>"><%=category.name%></span>
		          </a>
		        <% end %>
	        </div> 
	      </div>
      <%end%>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="text-center">
			<%= paginate @services %>
    </div> -->
  </div>
</div>

<!-- <script>
	var heights = [];
	$('body .service-item').each(function (index) {
		heights.push($(this)[0].clientHeight);
	});
	var largest = Math.max.apply(Math, heights);
	$('body .service-item').css({height: largest});
</script> -->
