
<%if current_user.profile.name == "Administrador Geral"%>
  <%= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <%= f.input :attachment, label: 'Imagem'%>
    <img src="<%= @user.attachment.url %>" />
    <%= f.input :organ_id, collection: @organs, label: 'Órgão', required: :true %>
    <%= f.input :profile_id, required: :true, collection: @profiles, label: 'Perfil' %>
    <%= f.input :name, label: 'Nome', required: :true %>
    <%= f.input :email, label: 'E-mail', required: :true %>
    <%= f.input :cpf, label: 'Cpf', required: :true %>
    <%= f.input :password, label: 'Senha', required: :true %>
    <%= f.input :password_confirmation, label: 'Confimar Senha', required: :true %>
    
    <div class="pull-right">
      <%= f.button:submit, "Salvar",:class =>"btn btn-success" %>  
    </div>
  <%end%>
<%end%>

<%if current_user.profile.name == "Coordenador Local"%>
  <%= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <%= f.input :organ_id, collection: current_user.organ, label: 'Órgão',disabled: true, required: :true, readonly: true %>
    <%= f.input :profile_id, required: :true, readonly: true,collection: @profiles,disabled: true, label: 'Perfil' %>
    <%= f.input :name, label: 'Nome', required: :true %>
    <%= f.input :email, label: 'E-mail', required: :true %>
    <%= f.input :cpf, label: 'Cpf', required: :true %>
    <%= f.input :password, label: 'Senha', required: :true %>
    <%= f.input :password_confirmation, label: 'Confimar Senha', required: :true %>
    
    <div class="pull-right">
      <%= f.button:submit, "Salvar",:class =>"btn btn-success" %>  
    </div>
  <%end%>
<%end%>

<%if current_user.profile.name == "Administração Centrais Já"%>
  <%= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <%= f.input :organ_id, collection: current_user.organ, label: 'Órgão', required: :true,readonly: true %>
    <%= f.input :profile_id, required: :true, readonly: true,collection: @profiles, label: 'Perfil' %>
    <%= f.input :name, label: 'Nome', required: :true %>
    <%= f.input :email, label: 'E-mail', required: :true %>
    <%= f.input :cpf, label: 'Cpf', required: :true %>
    <%= f.input :password, label: 'Senha', required: :true %>
    <%= f.input :password_confirmation, label: 'Confimar Senha', required: :true %>
    
    <div class="pull-right">
      <%= f.button:submit, "Salvar",:class =>"btn btn-success" %>  
    </div>
  <%end%>
<%end%>


<%if current_user.profile.name == "Mantenedor"%>
  <%= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <%= f.input :organ_id, collection: current_user.organ, label: 'Órgão', required: :true,readonly: true %>
    <%= f.input :profile_id, required: :true, readonly: true,collection: @profiles, label: 'Perfil' %>
    <%= f.input :name, label: 'Nome', required: :true %>
    <%= f.input :email, label: 'E-mail', required: :true %>
    <%= f.input :cpf, label: 'Cpf', required: :true %>
    <%= f.input :password, label: 'Senha', required: :true %>
    <%= f.input :password_confirmation, label: 'Confimar Senha', required: :true %>
    
    <div class="pull-right">
      <%= f.button:submit, "Salvar",:class =>"btn btn-success" %>  
    </div>
  <%end%>
<%end%>
