<h3>Usuário</h3>
<% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>

<%if current_user.profile.name == "Administrador Geral"%>
  <a class="btn btn-primary" href="/admin/users/new">Adicionar novo</a>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Nome</th>
        <th>email</th>
        <th>Perfil</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><img src="<%= user.attachment.url %>" width="50" height="50" /></td>
        <td><%= user.name %></td>
        <td><%= user.email  %></td>
        <td><%= user.profile.name  %></td>
        <td><a href="<%= edit_admin_user_path(user) %>">Editar</a></td>
        <td><%= link_to 'Remover', [:admin, user], method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
    <% end %>
  </tbody>

  </table>
<%end%>
<hr>

<%if current_user.profile.name == "Coordenador Local"%>
<a class="btn btn-primary" href="/admin/users/new">Adicionar novo</a>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.email  %></td>
        <td><a href="<%= edit_admin_user_path(current_user) %>">Editar</a></td>       
      </tr>
        <%@users.each do |u|%>
        <%if u.organ == current_user.organ and u.profile.name == "Mantenedor" %>
        <tr>
          <td><%=u.name%></td>
          <td><%=u.email%></td>
          <td><a href="<%= edit_admin_user_path(u) %>">Editar</a></td>
          <td><%= link_to 'Remover', [:admin, u], method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>   
        <%end%>
      <%end%>
       
    </tbody>
  </table>
<%end%>
<hr>
<%if current_user.profile.name == "Administração Centrais Já"%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= current_user.name %></td>
          <td><%= current_user.email  %></td>
          <td><a href="<%= edit_admin_user_path(current_user) %>">Editar</a></td>       
          </tr>
    </tbody>
  </table>
<%end%>
<hr>
<%if current_user.profile.name == "Mantenedor"%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= current_user.name %></td>
          <td><%= current_user.email  %></td>
          <td><a href="<%= edit_admin_user_path(current_user) %>">Editar</a></td>       
          </tr>
    </tbody>
  </table>
<%end%>