<div ng-controller="OrgansIndexController" ng-init="view = 'full';" >
  <img src="/assets/layout/logo_guia(1).png" alt="Guia de Serviços logomarca" title="Guia de Serviços logomarca" style="width: 25%; margin-bottom: 0%;" align="center">
  <h1 align="center" style="color:white; font-weight: bold; position: relative; top:1%;font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;" class="title_hight">Os serviços do Governo de Alagoas catalogados num só lugar</h1>
    <br><br><br>
    <div id="demo" class="collapse col-md-12" style="background-color: rgba(0, 0, 0, 0.52); border-radius: 10px;">
    
     <div class="col-sm-4" style="z-index: 2">
      <div class="pull-left">
        <h4 style="font-weight: bold; color: white;">Visualização</h4>  
        <button type="button" ng-click= "view = 'simple';" class="btn btn-default" style="color: #337ab7">Simplificada(lista)</button>
        <button type="button" ng-click= "view = 'full';" class="btn btn-default" autofocus  style="color: #337ab7">Completa</button>
      </div>
    </div>

    <div id="wrapper">
      <div class="container-">
        <div class="pull-right container-fluid">
          <form>
            <div class="col-md-12 pull-right">
              <label style="color: white;">Mostrar por ordem</label>
              <div class="material-switch">
                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" name="ordem" ng-model="checkedIN" id="1" />
                <label for="someSwitchOptionDefault" class="label-primary"></label>
              </div>
              <div class="col-md-12">
                 <span ng-if="checkedIN" for="someSwitchOptionDefault" class="label label-primary ng-binding" disabled>Decrescente!</span>
                 <span ng-if="!checkedIN" for="someSwitchOptionDefault" class="label label-primary ng-binding" disabled>Crescente!</span>        
                </div>
              </div>
          </form>         
         <script>
          function LimpaFiltros() {
              location.reload();
          }
          </script>
        </div>
      </div>
    </div>

  <button onclick="LimpaFiltros()" class="btn btn-danger" >Limpar Filtros</button>  
  </div>
  <div class="container" >
    <div style="position: relative;top: 10%">
      <h3 class="services_title" style="color: white; font-weight: bold;">{{ organs.length }} Órgãos disponíveis</h3>
  </div>
    <div class="col-md-8 col-sm-8 col-xs-12 col-sm-offset-2">
      <div id="imaginary_container" style="width: 115%; position: relative;"> 
        <div class="input-group stylish-input-group" style=" margin-top: 1%; z-index: 0" align="center">
          <input class="form-control input-lg" id="inputlg" type="text" placeholder="Busque aqui o órgão que você precisa" ng-model="q" >
            <span class="input-group-btn">
              <button class="btn btn-lg" type="button" style="color: rgb(83, 114, 219);">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button class="btn btn-lg" type="button" style="color: rgb(83, 114, 219);" data-toggle="collapse" data-target="#demo">
                  <span class="glyphicon glyphicon-filter"></span>
                </button>    
            </span>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 organ_size_align" align="center" >  
    
    <div ng-if="view == 'full' && !checkedIN">
      <div class="col-md-4 col-xs-12 col-lg-4" ng-repeat="organ in organs | orderBy : '+name'">
        <div class="service-item" style="width: 100%;height: 387px; max-height: 387px;">
          <a href="{{ organ.url }}" style="text-decoration: none;">
            <img ng-src="{{ organ.attachment.url }}" title="Guia de Serviços de Alagoas{{ organ.name }}" alt="Guia de Serviços de Alagoas{{ organ.name }}" class="img-thumbnail" style="width: 70%;">
            <h4 style="height: 200px; margin-bottom: -35%; max-height: 177px; min-height: 176px;">{{ organ.name }}</h4>
            <span class="btn-sm btn-danger text-capitalize">{{organ.nature}}</span>
            <span class="label label-default">{{ organ.services.length }} serviços</span>
            <span class="label label-default">{{ organ.units.length }} Unidades de Atendimento</span>
          </a>
        </div>
      </div>
    </div>

    <div ng-if="view == 'full' && checkedIN">
      <div class="col-md-4 col-xs-12" ng-repeat="organ in organs | orderBy : '-name'">
        <div class="service-item" style="width: 100%;height: 387px; max-height: 387px;">
          <a href="{{ organ.url }}" style="text-decoration: none;">
            <img ng-src="{{ organ.attachment.url }}" alt="Guia de Serviços de Alagoas{{ organ.name }}" title="Guia de Serviços de Alagoas{{ organ.name }}" class="img-thumbnail" style="width: 100%;">
            <h4 style="height: 200px; margin-bottom: -19.1%; max-height: 177px; min-height: 176px;">{{ organ.name }}</h4>
            <span class="btn-sm btn-danger">{{organ.nature}}</span>
            <span class="label label-default">{{ organ.services.length }} serviços</span>
            <span class="label label-default">{{ organ.units.length }} Unidades de Atendimento</span>
          </a>
        </div>
      </div>
    </div>

    <div ng-if="view == 'simple' && checkedIN">
      <div ng-repeat="organ in organs | orderBy : '-name'" >
        <a href="{{ organ.url }}" style="text-decoration: none;">
          <h4 style="color: white">{{ organ.name }}</h4>
          <span class="btn-sm btn-danger">{{organ.nature}}</span>
          <span class="label label-default">{{ organ.services.length }} serviços</span>
          <span class="label label-default">{{ organ.units.length }} Unidades de Atendimento</span>
        </a>
      </div>
    </div>

    <div ng-if="view == 'simple' && !checkedIN">
      <div style="background-color: rgba(0, 0, 0, 0.52); border-radius: 10px;">
        <div ng-repeat="organ in organs | orderBy : '+name'" >
          <a href="{{ organ.url }}" style="text-decoration: none;">
            <h4 style="color: white">{{ organ.name }}</h4>
            <span class="btn-sm btn-danger">{{organ.nature}}</span>
            <span class="label label-default">{{ organ.services.length }} serviços</span>
            <span class="label label-default">{{ organ.units.length }} Unidades de Atendimento</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>