<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item"><a href="/orgaos">Órgãos</a></li>
  <li class="breadcrumb-item active"><%= @organ.name  %></li>  
</ol>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12" ng-controller="OrgansIndexController" style="position: relative; background-color: rgba(7, 10, 20, 0.7); margin-bottom: 10%;" align="center" ng-init="view = 'full'" >
  <div class="col-md-10 service-show col-sm-10 col-xs-12 col-lg-12">
    <div class="col-md-12">
      <h3 class="col-md-12" style="color: white;"><%= @organ.name %></h3>
    </div>
    <hr>
    <div class="col-md-8 col-sm-5">
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDij4Z3AFhetKwsKd9dP6gd0jPceh4Y70I&callback=initMap"></script>
      <script>
        function initMap() {
          var myLatLng = { lat: <%= @organ.coordinates[:latitude] %>, lng: <%= @organ.coordinates[:longitude] %> };

          var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            scrollwheel: false,
            zoom: 15
          });

          var marker = new google.maps.Marker({
            map: map,
            position: myLatLng
          });
        };
      </script>
      <div id="map" class="col-md-4 col-xs-4 col-lg-4 col-sm-4" style="width: 100%; height: 200px; margin-bottom: 10px;"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-right" style="position: relative;">
      <img src="<%= @organ.attachment %>" alt="Guia de Serviços <%= @organ.name %>" title="Guia de Serviços <%= @organ.name %>" class="img-thumbnail">
    </div>
    <div class="col-md-12 btn-group btn-group " >
      <h4 style="color: white; position: relative; right: 40%;">Visualização <a type="button" data-toggle="modal" data-target="#myModal" style="text-decoration: none; cursor: pointer; color: white;">  ?</a><div id="info"></div></h4>  

      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modelos de amostra dos órgãos</h4>
                </div>
                <div class="modal-body">
                  <p><b>Completa</b></p>
                  <blockquote>Na versão de visualização completa o Guia de serviços mostra as informações dispostas em toda a página.</blockquote>
                  <p><b>Simplificada</b></p>
                  <blockquote>Na versão de visualização simplificada o Guia de serviços mostra as sessões e permite que o usuário escolha qual sessão deverá ser apresentada.</blockquote>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>

      <button type="button" ng-click= "view = 'simple';" class="btn btn-default" style="color: #337ab7">Simplificada</button>
      <button type="button" ng-click= "view = 'full';" class="btn btn-default" autofocus  style="color: #337ab7">Completa</button>
    </div>
    <div class="col-md-12 col-sm-9 list-group">

      <div ng-if="view == 'full'" >
        <div class="col-md-6 col-sm-6" style="color: white;">
          <h3 >
            <i class="fa fa-info-circle" aria-hidden="true"></i> Informações
          </h3>
                
          <blockquote style="font-size: 14px;">
            <p><span style="color: white;font-weight: bold;">Endereço:</span> <%= @organ.address %></p>
            <p><span style="color: white;font-weight: bold;">Telefones:</span> <%= @organ.phones %></p>
            <p><span style="color: white;font-weight: bold;">Dirigente:</span> <%= @organ.chief_executive_officer %></p>
            <p><%= @organ.office %></p>
            <p><span >Site Oficial do Órgão:</span> <a href="http://<%= @organ.official_site %>/" target=_black><%= @organ.official_site %></a></p>
            <p><span >Email Oficial do Órgão:</span> <a href="mailto:<%= @organ.official_email %>?subject=Hello%20again"><%= @organ.official_email %></a></p>
          </blockquote>
        </div>    

        <div class="col-md-6 col-sm-6">  
          <h3 style="color: white;">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Horário de Funcionamento
          </h3>

          <% if !@organ.schedules.blank? && @organ.schedules.size > 0 %>
            <blockquote style="font-size: 14px;">
              <table width="100%">
                <thead>
                  <tr style="color: white;"">
                    <th></th>
                    <th>Início </th>
                    <th>Fim</th>
                  </tr>
                </thead>
                <tbody>
                  <% @organ.schedules.each do |schedule| %>
                    <tr style="color: white;">
                      <td >
                        <% if schedule[:day] == "monday" %>
                          <b><em>Segunda-feira</em></b> 
                        <% end %>
                        <% if schedule[:day] == "tuesday" %>
                          <b><em>Terça-feira</b></em>
                        <% end %>
                        <% if schedule[:day] == "wednesday" %>
                          <b><em>Quarta-feira</b></em>
                        <% end %>
                        <% if schedule[:day] == "thursday" %>
                          <b><em>Quinta-feira</b></em>
                        <% end %>
                        <% if schedule[:day] == "friday" %>
                          <b><em>Sexta-feira</b></em>
                        <% end %><br>
                      </td>
                      <td><%= schedule[:start] %></td>
                      <td><%= schedule[:end] %></td>
                    </tr> 
                  <% end %>      
                </tbody>
              </table>
            </blockquote>
          <% end %>    
        </div>

        <div class="col-md-12 col-sm-12 " > 
          <h3 class="title-header" style="color: white; position: relative;left:-40%;"><i class="fa fa-bars" aria-hidden="true"></i>  Serviços <span class="badge"><%=@organ.services.length%></span></h3>
          <ul class="list-group" style="float: left;" >
            <% @organ.services.each do |service| %>
              <% if service.active %>
                <li class="list-group-item" style="text-align: left;">
                  <a href="<%= service.url %>" style="text-decoration: none;">
                    <%= service.name %> <span class="label label-primary"></span>
                  </a>        
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="col-md-12 col-sm-12 ">
          <h3 class="title-header" style="color: white; position: relative;left:-30%;"><i class="fa fa-home" aria-hidden="true"></i>  Unidades de Atendimento <span class="badge"><% @organ.units.each do |unit| %>
              <% if unit.active %><%=@organ.units.length%><%end%><%end%></span></h3>
          <ul class="list-group">
            <% @organ.units.each do |unit| %>
              <% if unit.active %>
                <li class="list-group-item" style="text-align: left;">
                  <a href="<%= unit.url %>" style="text-decoration: none;">
                    <%= unit.name %> <span class="label label-primary"><%= unit.services.length %> serviços ativos</span>
                  </a>        
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      
      <div ng-if="view == 'simple'">
        
        <div class="col-md-6" style="color: white;">
          <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
            <li>
              <h3 data-target="#item5" data-toggle="collapse" data-parent="#stacked-menu" ><i class="fa fa-info-circle" aria-hidden="true"></i>Informações <i class="fa fa-minus-circle"></i></span></h3>
              <ul class="nav nav-stacked collapse left-submenu" id="item5" >
                <blockquote style="font-size: 14px;">
                  <p><span style="color: white;">Endereço:</span> <%= @organ.address %></p>
                  <p><span style="color: white;">Telefones:</span> <%= @organ.phones %></p>
                  <p><span style="color: white;">Dirigente:</span> <%= @organ.chief_executive_officer %></p>
                  <p><span style="color: white;">Cargo:</span> <%= @organ.office %></p>
                  <p><span >Site Oficial do Órgão:</span> <a href="http://<%= @organ.official_site %>/" target=_black><%= @organ.official_site %></a></p>
                  <p><span >Email Oficial do Órgão:</span> <a href="mailto:<%= @organ.official_email %>?subject=Hello%20again"><%= @organ.official_email %></a></p>
                </blockquote>
              </ul>
            </li>
          </ul>
        </div>

        <div class="col-md-6" style="color: white;">
          <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu1">
            <li>
              <h3 data-target="#item6" data-toggle="collapse" data-parent="#stacked-menu1" ><i class="fa fa-clock-o" aria-hidden="true" style="color: white;"style="color: white;"></i>Horário de Funcionamento <i class="fa fa-minus-circle"></i></span></h3>
                <ul class="nav nav-stacked collapse left-submenu" id="item6">
                  <% if !@organ.schedules.blank? && @organ.schedules.size > 0 %>
                    <blockquote style="font-size: 14px;">
                      <table width="100%">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Início </th>
                            <th>Fim</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @organ.schedules.each do |schedule| %>
                            <tr>
                              <td>
                                <% if schedule[:day] == "monday" %>
                                  <b><em>Segunda-feira</em></b> 
                                <% end %>
                                <% if schedule[:day] == "tuesday" %>
                                  <b><em>Terça-feira</b></em>
                                <% end %>
                                <% if schedule[:day] == "wednesday" %>
                                  <b><em>Quarta-feira</b></em>
                                <% end %>
                                <% if schedule[:day] == "thursday" %>
                                  <b><em>Quinta-feira</b></em>
                                <% end %>
                                <% if schedule[:day] == "friday" %>
                                  <b><em>Sexta-feira</b></em>
                                <% end %><br>
                              </td>
                              <td><%= schedule[:start] %></td>
                              <td><%= schedule[:end] %></td>
                            </tr> 
                          <% end %>      
                        </tbody>
                      </table>
                    </blockquote>
                 <% end %>
              </ul>
            </li>
          </ul>
        </div>

        <div class="col-md-6" style="color: white"> 
          <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu4">
            <h3 data-target="#item16" data-toggle="collapse" data-parent="#stacked-menu4" ><i class="fa fa-home" aria-hidden="true" ></i>Unidades de Atendimento <i class="fa fa-minus-circle"></i></span></h3>
            <ul class="nav nav-stacked collapse col-md-10 list-group" id="item16" >
              
            <% @organ.units.each do |unit| %>
              <% if unit.active %>
                <li class="list-group-item" style="text-align: left;">
                  <a href="<%= unit.url %>" style="text-decoration: none;">
                    <%= unit.name %> <span class="label label-primary"><%= unit.services.length %> serviços ativos</span>
                  </a>        
                </li>
              <% end %>
            <% end %>
          </ul> 
            </ul>
          </ul>
          </div>
          <div class="col-md-6" style="color: white"> 
            <ul class="nav nav-pills nav-stacked left-menu " id="stacked-menu14">
             <h3 data-target="#item26" data-toggle="collapse" data-parent="#stacked-menu14" ><i class="fa fa-bars" aria-hidden="true"></i>Serviços <i class="fa fa-minus-circle"></i></span></h3>
             <ul class="nav nav-stacked collapse left-submenu pull-left" id="item26" >
              
            <% @organ.services.each do |service| %>
              <% if service.active %>
                <li class="list-group-item" style="text-align: left;">
                  <a href="<%= service.url %>" style="text-decoration: none;">
                    <%= service.name %> <span class="label label-primary"></span>
                  </a>        
                </li>
              <% end %>
            <% end %>
          </ul>
              </ul>
            </ul>
          </div>
          
         </div> 
      </div>
    </div>

  </div>

</div>  

