<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Administrador Guia de Serviços</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.5/css/ngDialog.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.5/css/ngDialog-theme-default.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <%= stylesheet_link_tag 'admin' %>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-messages.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
  <script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.5/js/ngDialog.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.5.4/standard/ckeditor.js"></script>
  <%= javascript_include_tag 'admin' %>
  

  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90078207-1', 'auto');
    ga('send', 'pageview');
  </script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color: white;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a style="color: white; font-weight: bold" class="navbar-brand" href="/admin">Início</a>
    </div>
    <div class="collapse navbar-collapse bg-primary" id="myNavbar">
      <ul class="nav navbar-nav pull-right">
        <%if current_user.profile.name == "Administrador Geral"%>
          <li><a style="color: white; font-weight: bold" href="/admin/categories">Categorias</a></li>
          <li><a style="color: white; font-weight: bold" href="/admin/audiences">Público Alvo</a></li>
          <li><a style="color: white; font-weight: bold" href="/admin/organs">Orgãos</a></li>
          <li><a style="color: white; font-weight: bold" href="/admin/units">Unidades de Atendimento</a></li>
          <li><a style="color: white; font-weight: bold" href="/admin/centers">Centrais de Atendimento</a></li>
          <li><a style="color: white; font-weight: bold" href="/admin/services">Serviços</a></li>
          <li><a style="color: white; font-weight: bold" href="/admin/profiles">Perfis</a></li>
          <li><a style="color: white; font-weight: bold" href="/admin/users">Usuários</a></li>
        <%end%>
        <%if current_user.profile.name == "Mantenedor"%>
          <li><a style="color: white; font-weight: bold " href="/admin/units">Unidades de Atendimento</a></li>
          <li><a style="color: white; font-weight: bold " href="/admin/services">Serviços</a></li>
          <li><a style="color: white; font-weight: bold " href="/admin/users">Usuários</a></li>
        <%end%>
        <%if current_user.profile.name == "Coordenador Local"%>
          <li><a style="color: white; font-weight: bold " href="/admin/organs">Orgãos</a></li>
          <li><a style="color: white; font-weight: bold " href="/admin/units">Unidades de Atendimento</a></li>
          <li><a style="color: white; font-weight: bold " href="/admin/services">Serviços</a></li>
          <li><a style="color: white; font-weight: bold " href="/admin/users">Usuários</a></li>
        <%end%>
        <li><%= link_to('Sair', destroy_user_session_path, method: :delete, :style=> 'color:white') %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% if user_signed_in?%>
    <span style="color: blue;"><%= current_user.name %></span>,  <%= current_user.profile.name %> do sistema.<br><p class="">Lotado no orgão  <a href="/orgao/<%= current_user.organ.permalink %>"><%= current_user.organ.name %>.</p></a>
  <% end %>
    <%= yield %>
  </div>
</p></div>

</body>
</html>
