<!DOCTYPE html>
<html ng-app="App" xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Guia de Serviços de Alagoas</title>
<link rel="shortcut icon" href="/assets/layout/favico_guia1.ico" />
<meta content="Guia de Serviços do Governo de Alagoas informações dos serviços públicos do Governo
  Transparência no serviço público Guia de Serviços do Estado todos os cidadãos já podem consultar
   principais serviços governamentais, acesso a informações sobre os serviços mais utilizados pela população
   catálogo de consulta dados como taxas, documentos necessários, modelo de prestação (online ou presencial) e endereços dos órgãos responsáveis serviços oferecidos pelo Governo facilitará a vida do cidadão serviços catalogados serviços públicos plataforma online que catalogará todas as informações sobre os serviços públicos do Executivo em um só lugar cidadãos aos serviços públicos  facilitam Governo de Alagoas  informações sobre os serviços de governo mais utilizados pela população Portal de Serviços serviços públicos Seplag, Produção da Informação e do Conhecimento da Seplag, Facilidade a alagoanos, Alagoas, catálogo para os usuários, plataforma, informações sobre os serviços prestados pelo Estado, serviço público e trazer mais transparência para a população alagoana local, para onde o cidadão deve se dirigir" name="keywords">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="http://s3.amazonaws.com/udo-rapidpro-static-app/push-widget/1.1.6/push.min.css">

<script src="http://s3.amazonaws.com/udo-rapidpro-static-app/push-widget/1.1.6/push.min.js"></script> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90078207-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %> 

</head>
<body>
<div style="background-image: url(/assets/layout/nova_back_reJ.jpg);color: white;background-repeat: no-repeat;background-size:100%;bottom: 0;color: black;left: 0; overflow: auto; position: absolute;right: 0; text-align: center;top: 0;background-size: cover;"> 

    <div id="mySidenav" class="sidenav" style="background-color: rgba(83, 114, 219, 0.67);z-index: 100;">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: #a2121f
      ">&times;</a>
      <h3 style="position: relative; left: 2%; font-weight: bold;">Guia de Serviços de Alagoas</h3> 
      <a href="/"><i class="fas fa-home"></i> Início</a>
      <a href="/guia-de-servicos"><i class="fas fa-clipboard-list"></i> Serviços</a>
      <a href="/orgaos"><i class="far fa-building"></i> Órgãos</a>
      <a href="/unidades-de-atendimento"><i class="fas fa-map-marker-alt"></i> Unidades de Atendimento</a>
      <!-- <a href="/central-de-atendimento"><img src="/assets/layout/ja.png" alt="Guia de Serviços logomarca da Centrais Já!" title="Guia de Serviços logomarca Centrais Já!" width="40" class="img-thumbnail" style="border-radius: 20px;"> Centrais de Atendimento JÁ!</a> -->
      <a href="/central-de-atendimento"><i class="fas fa-users"></i> Centrais de Atendimento JÁ!</a>
      <a href="/api"><i class="fas fa-qrcode"></i> Dados Abertos</a>    
      <a href="/sobre"><i class="fas fa-file-alt"></i> Sobre</a>
    </div>


    <div id="main">

    <span id="id_open" style="font-size:30px;cursor:pointer; position: relative;right: 45%;z-index:1;" onclick="openNav()">&#9776;</span>
    
      <%= yield %>
    
    </div>
    
    <script>

    function openNav() {
        document.getElementById("mySidenav").style.width = "35%";
        document.getElementById("main").style.marginLeft = "33%";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        var display = document.getElementById('id_open').style.display;
        var displayClose = document.getElementById('id_close').style.display;
        if(!display || display){
            document.getElementById('id_open').style.display = 'none';
            
        }
      }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
        var displayClose = document.getElementById('id_close').style.display;
        if(!displayClose){
            document.getElementById('id_open').style.display = 'block';
            
        }
    }

    function openCategories(){
      document.getElementById("categorias").style.width = "100%";
      document.getElementById("principal").style.width = "33%";
      document.body.style.backgroundColor = "rgba(0, 0, 0, 0.52)";
    }

    function closeCategories() {
        document.getElementById("categorias").style.width = "0";
        document.getElementById("principal").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }

    function openAudiences(){
      document.getElementById("audiences").style.width = "100%";
      document.getElementById("principal").style.width = "33%";
      document.body.style.backgroundColor = "rgba(0, 0, 0, 0.52)";
    }

    function closeAudiences() {
        document.getElementById("audiences").style.width = "0";
        document.getElementById("principal").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }


    </script>

    <div id="categorias" class="sidenav cat_aud_width" style="background-color: rgba(3, 6, 15, 0.91); z-index: 5; display: flex;" ng-controller="HomeIndexController">

      <a id="id_close" href="javascript:void(0)" class="closebtn" onclick="closeCategories()" style="color: white; z-index: 50;">&times;</a>
        <div class="col-md-10 col-sm-10 col-xs-10 col-xl-10 col-ls-10 cat_aud" >
          <h3 style="position: relative; left: 20%; font-weight: bold; color: white;">Categorias</h3>      
          <div class="clearfix"></div>
          <br>
           <% @categories.each do |category| %>
           <a href="<%= category.url %>">
           <span class="circle col-md-4"><i class="fa <%=category.icon %>"></i></span>
           <span><%= category.name %></span>
           
           <span class="badge"><%= category.services.length %></span></a>
           <% end %>
        </div>
      </div>

      <div id="audiences" class="sidenav cat_aud_width" style="background-color: rgba(3, 6, 15, 0.91); z-index: 5;" ng-controller="HomeIndexController">
        <a href="javascript:void(0)" class="closebtn" onclick="closeAudiences()" style="color: white; z-index: 10000;">&times;</a>
          <div class="col-md-10 col-sm-10 col-xs-10 col-xl-10 col-lg-10 cat_aud min_hiera" >
          <h3 style="position: relative; left: 20%;font-weight: bold; color: white;">Público Alvo</h3>
          <div class="clearfix"></div>
          <br>
          <% @audiences.each do |audience| %>
            <a href="<%= audience.url %>" >
              <span class="circle col-md-4" ><i class="fa <%=audience.icon%>"></i></span> 
              <span "><%= audience.name %></span>
            <span class="badge"><%=audience.services.length %></span></a>
          <% end %>
        </div>
      </div>

      <div class="footer menu_footer_Center" >
        <div class="col-md-8 col-sm-8 col-lg-8" align="right">
          <div class="col-md-6 col-sm-6 col-lg-6 menu_footer_width menu_footer_leftC menu_footer_leftCH" style="float:left" onclick="openCategories()">
            <a class="footer_title footer_title_position" style="color: white; font-weight: bold; position: relative; left: 22%">Tipos de serviços</a>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 menu_footer_width menu_footer_leftA" style="float: left;margin-bottom: 10px;" onclick="openAudiences()">  
            <a class="footer_title footer_title_position" style="color: white; font-weight: bold; position: relative; left: 15%">Para quem os serviços atendem</a>  
          </div>
        </div>
      </div>
    </div> 

  <script type="text/javascript">
    const webPushApp = new WebPush({
        channelUUID: 'bfef18a2-83ff-4709-b833-696161cc442b',
        referrer: 'inicial',
        autoOpen: false,
        customizeWidget: {
            mainIcon: 'http://s3.amazonaws.com/udo-rapidpro-static-app/push-logos/ja_alagoas_v2.png',
            chatIcon: 'http://s3.amazonaws.com/udo-rapidpro-static-app/push-logos/ja_alagoas_v2.png',
            chatPushMessageColor: '#1f3461',
            chatUserTextColor: '#1f3461',
          }
    });
  </script>
  </div>        
</body>
</html> 
