<!DOCTYPE html>
<html ng-app="App" xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Guia de Serviços de Alagoas</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90078207-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
	<div class="container-fluid header-top">
    <div class="container">
      <div class="row">
        <div class="box-logo">
          <img src="http://servicos.al.gov.br/assets/layout/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Início</a></li>
          <!-- <li><a href="#">Serviços</a></li>
          <li><a href="#">Órgãos</a></li>
          <li><a href="#">Unidades de Atendimento</a></li>
          <li><a href="#">Centrais de Antendimento - Já!</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container" ng-controller="HomeIndexController">
    <%= yield %><br>
  </div>  
  <footer style="background-color: rgba(9, 40, 126, 0.78);">
    <div class="container" >
      <div class="row" style="color: white; position: relative; left:  25%">
        <div class="col-md-4">
          <div class="footer-logo">
            <img src="http://servicos.al.gov.br/assets/layout/brasao.png" alt="">
            <span class="t1">Guia de Serviços</span><br>
            <span class="t2">Governo do Estado de Alagoas</span>
          </div>

          <br>
          <br>

          <p><h4>(82) 3315-1711 | (82) 3315-1804</h4></p>
          <p>Rua Cincinato Pinto, 503</p>
          <p>Centro</p>
          <p>Maceió-Alagoas</p>
        </div>
        <div class="col-md-4">
          <ul>
            <li style="list-style-type: none; "><a href="/" style="color: white;">Início</a></li>
            <li style="list-style-type: none;"><a href="/guia-de-servicos" style="color: white;">Guia de Serviços</a></li>
            <li style="list-style-type: none;"><a href="/orgaos" style="color: white;">Órgãos</a></li>
            <li style="list-style-type: none;"><a href="/unidades-de-atendimento" style="color: white;">Unidades de Atendimento</a></li>
          </ul>
          <ul>        
            <li style="list-style-type: none;"><a href="/central-de-atendimento" style="color: white;">Centrais de Atendimento - Já!</a></li>
              <% if user_signed_in? %>                
                <li  style="list-style-type: none;"><a href="/users/sign_out" data-method="delete" style="color: White;">Sair</a></li> 
             	<% end %>
          </ul> 
        </div>
      </div>
    </div>
  </footer>
</body>
</html>