<!DOCTYPE html>
<html ng-app="App" xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Guia de Serviços do Governo de Alagoas informações dos serviços públicos do Governo
  Transparência no serviço público Guia de Serviços do Estado todos os cidadãos já podem consultar
   principais serviços governamentais, acesso a informações sobre os serviços mais utilizados pela população
   catálogo de consulta dados como taxas, documentos necessários, modelo de prestação (online ou presencial) e endereços dos órgãos responsáveis serviços oferecidos pelo Governo facilitará a vida do cidadão serviços catalogados serviços públicos plataforma online que catalogará todas as informações sobre os serviços públicos do Executivo em um só lugar cidadãos aos serviços públicos  facilitam Governo de Alagoas  informações sobre os serviços de governo mais utilizados pela população Portal de Serviços serviços públicos Seplag, Produção da Informação e do Conhecimento da Seplag, Facilidade a alagoanos, Alagoas, catálogo para os usuários, plataforma, informações sobre os serviços prestados pelo Estado, serviço público e trazer mais transparência para a população alagoana local, para onde o cidadão deve se dirigir" name="keywords">
  <%= display_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90078207-1', 'auto');
    ga('send', 'pageview');
  </script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script type="text/javascript">
    // Mantém os inputs em cache:
    var inputs = $('input');

    // Chama a função de verificação quando as entradas forem modificadas
    // Usei o 'keyup', mas 'change' ou 'keydown' são também eventos úteis aqui
    inputs.on('keyup', verificarInputs);

    function verificarInputs() {
        var preenchidos = true;  // assumir que estão preenchidos
        inputs.each(function () {
            // verificar um a um e passar a false se algum falhar
            // no lugar do if pode-se usar alguma função de validação, regex ou outros
            if (!this.value) {
              preenchidos = false;
              // parar o loop, evitando que mais inputs sejam verificados sem necessidade
              return false;
            }
        });
        // Habilite, ou não, o <button>, dependendo da variável:
        $('button').prop('disabled', !preenchidos); // 
    }
  </script>
 
</head>
<body>
	<div class="container-fluid header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="box-logo">
            <a href="/"><img src="http://www.agenciaalagoas.al.gov.br/templates/design_control/images/s5_logo.png" alt=""></a>

          </div>
        </div>
        <div class="col-md-9 hidden-xs">
          <div class="box-title">
            <h2>GUIA DE SERVIÇOS</h2>
            <h3>Governo do Estado de Alagoas</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Início</a></li>
          <li><a href="/guia-de-servicos">Serviços</a></li>
          <li><a href="/orgaos">Órgãos</a></li>
          <li><a href="/unidades-de-atendimento">Unidades de Atendimento</a></li>
          <li><a href="/central-de-atendimento">Centrais de Atendimento - Já!</a></li>
          <li><a href="/api">Dados Abertos</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <%= yield %>  
  </div> 

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-logo">
            <img src="http://servicos.al.gov.br/assets/layout/brasao.png" title="Estado de Alagoas" alt = "Estado de Alagoas">
            <span class="t1">Guia de Serviços</span><br>
            <span class="t2">Governo do Estado de Alagoas</span>
          </div>

          <br>
          <br>

          <p><h4>(82) 3315-1525 </h4></p>
          <p>Rua Cincinato Pinto, 503</p>
          <p>Centro</p>
          <p>Maceió-Alagoas</p>
        </div>

        <div class="col-md-4">
          <ul class="footer-list">
            <li><a href="/">Início</a></li>
            <li><a href="/guia-de-servicos">Guia de Serviços</a></li>
            <li><a href="/orgaos">Órgãos</a></li>
            <li><a href="/unidades-de-atendimento">Unidades de Atendimento</a></li>
            <li><a href="/central-de-atendimento">Centrais de Atendimento - Já!</a></li>
          </ul> 
        </div>

        <div class="col-md-4">
          <a href="http://www.agenciaalagoas.al.gov.br/"><img width="200px" title="Agência Alagoas parceira do Guia de Serviços de Alagoas" alt = "Agência Alagoas parceira do Guia de Serviços de Alagoas" height="auto" src="/assets/layout/logo_governo_alagoas1.png"></a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>