<h2 class="title">Registro de novo usuario</h2>
<div class="conteiner">
	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= f.error_notification %>
	  <nav class="row row-no-bottom">
		  <div id="menu-inferior" class="col-12">
		  <ul>
			  <div class="form-inputs">
			  	<%= f.input :name, required: true, autofocus: true, label: 'Nome' %>
			  	<%= f.input :cpf, required: true, autofocus: true, label: 'CPF' %>
			    <%= f.input :email, required: true, autofocus: true, label: 'Email'%>
			    <%= f.input :password, required: true, label: 'Senha', hint: ("#{@minimum_password_length} caracteres no minimo" if @minimum_password_length) %>
			    <%= f.input :password_confirmation, required: true, label:'Confirmar a senha' %>
			  </div>
			</ul>  
			  <div class="form-actions">
			    <%= f.button :submit, "inscrever-se" %>
			  </div>
			</div>
		</nav>
	<% end %>
</div>